<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example "Title : primary" do %>
      <%= react_component('Title') %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "Title : secondary" do %>
      <%= react_component('Title', props: {
        modifier: "secondary",
        tag: "h2",
        children: "Felis…",
      }) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "Title : tertiary" do %>
      <%= react_component('Title', props: {
        modifier: "tertiary",
        tag: "h3",
        children: "Felis…",
      }) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "Title : quaternary" do %>
      <%= react_component('Title', props: {
        modifier: "quaternary",
        tag: "h4",
        children: "Felis…",
      }) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "Title : quinary" do %>
      <%= react_component('Title', props: {
        modifier: "quinary",
        tag: "h5",
        children: "Felis…",
      }) %>
    <% end %>
  </div>
</div>
