<%= example 'Default dropdown (positioned with itself)' do %>
  <%= react_component('KarlSimpleDropdown') %>
<% end %>

<%= example 'Platform switch dropdown (positioned with parent)' do %>
  <div id="k-PlatformSwitchDropdown" class="karl-Dropdown--platformSwitch">
    <%= react_component('KarlPlatformSwitch') %>
  </div>
<% end %>

<%= example 'User menu dropdown (positioned to right of the parent)' do %>
  <div id="k-UserMenuDropdown" class="karl-Dropdown--platformSwitch">
    <%= react_component('KarlUserMenuDropdown') %>
  </div>
<% end %>
