<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s">
        <%= example 'Loader' do %>
          <%= react_component 'Loader' %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--9@l">
        <%= example 'Loader in Button component' do %>
          <%= react_component 'KarlLoaderInButton' %>
          <%= react_component 'KarlLoaderInButton', props: {
            modifier: 'helium',
          } %>
          <%= react_component 'KarlLoaderInButton', props: {
            disabled: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@s k-Grid__col--3@m">
        <%= example 'Loader with top paragraph' do %>
          <%= react_component 'LoaderWithParagraph', props: {
            loaderPosition: 'bottom',
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@s k-Grid__col--3@m">
        <%= example 'Loader with right paragraph' do %>
          <%= react_component 'LoaderWithParagraph' %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@s k-Grid__col--3@m">
        <%= example 'Loader with bottom paragraph' do %>
          <%= react_component 'LoaderWithParagraph', props: {
            loaderPosition: 'top',
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@s k-Grid__col--3@m">
        <%= example 'Loader with left paragraph' do %>
          <%= react_component 'LoaderWithParagraph', props: {
            loaderPosition: 'right',
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
