<h3 id="<%= anchor %>" class="k-StyleguideSection__title"><%= title %></h3>

<% if defined?(examples_display) && examples_display == :vertical %>
  <% classname = 'k-StyleguideSection__example--vertical' %>
<% else %>
  <% classname = 'k-StyleguideSection__example' %>
<% end %>

<section class="<%= classname %>">
  <%= render template: "kitten/#{component}" %>
</section>

<section class="k-StyleguideSection__example">
  <div class="k-StyleguideExample__description">
    <p><%= description %></p>
  </div>
  <div class="k-StyleguideExample__bloc"></div>
</section>
