<!DOCTYPE html>
<html>
<head>

<title>Kitten style guide</title>

<%= stylesheet_link_tag 'kitten/application',
      'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' %>

<%= csrf_meta_tags %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js"></script>
<%= javascript_include_tag 'kitten/application', type: 'text/babel' %>

</head>
<body>

<div class="k-StyleguideContainer">
  <nav class="k-StyleguideMenu">
    <a class="k-StyleguideMenu__title">menu</a>

    <div class="k-u-clearfix"></div>

    <ul>
      <li class="k-StyleguideMenu__list">
        <a href="#branding" class="k-StyleguideMenu__listItem">Branding</a>

        <ul class="k-StyleguideMenu__subList">
          <li>
            <a href="#colors" class="k-StyleguideMenu__subListItem">colors</a>
          </li>
          <li>
            <a href="#typography" class="k-StyleguideMenu__subListItem">typography</a>
          </li>
          <li>
            <a href="#icons" class="k-StyleguideMenu__subListItem">icons</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="k-StyleguideMenu__list">
        <a href="#atoms" class="k-StyleguideMenu__listItem">Atoms</a>
        <ul class="k-StyleguideMenu__subList">
          <li>
            <a href="#buttons" class="k-StyleguideMenu__subListItem">buttons</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#primary-buttons" class="k-StyleguideMenu__subSubListItem">Primary buttons</a>
              </li>
              <li>
                <a href="#icon-buttons" class="k-StyleguideMenu__subSubListItem">Icon buttons</a>
              </li>
              <li>
                <a href="#image-buttons" class="k-StyleguideMenu__subSubListItem">Image buttons</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#form" class="k-StyleguideMenu__subListItem">form</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#label" class="k-StyleguideMenu__subSubListItem">Label</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#typography" class="k-StyleguideMenu__subListItem">typography</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="k-StyleguideMenu__list">
        <a href="#molecules" class="k-StyleguideMenu__listItem">Molécules</a>
        <ul class="k-StyleguideMenu__subList">
          <li>
            <a href="#form" class="k-StyleguideMenu__subListItem">form</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#label-with-info" class="k-StyleguideMenu__subSubListItem">Label with info</a>
              </li>
              <li>
                <a href="#label-input-with-unit" class="k-StyleguideMenu__subSubListItem">Label input with unit</a>
              </li>
              <li>
                <a href="#slider" class="k-StyleguideMenu__subSubListItem">Slider</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#navigation" class="k-StyleguideMenu__subListItem">navigation</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#horizontal-nav" class="k-StyleguideMenu__subSubListItem">Horizontal nav</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#simulators" class="k-StyleguideMenu__subListItem">simulators</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#simulators-result" class="k-StyleguideMenu__subSubListItem">Simulators result</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="k-StyleguideMenu__list">
        <a href="#organismes" class="k-StyleguideMenu__listItem">Organismes</a>
        <ul class="k-StyleguideMenu__subList">
          <li>
            <a href="#simulators" class="k-StyleguideMenu__subListItem">simulators</a>
            <ul class="k-StyleguideMenu__subSubList">
              <li>
                <a href="#loan-simulator" class="k-StyleguideMenu__subSubListItem">Loan simulator</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <div class="k-StyleguideContent">
    <section>
      <header class="k-StyleguideTitle">ComponentsKissCo</header>
      <%= yield %>
    </section>
  </div>
</div>

<%= javascript_include_tag 'kitten/noframework.waypoints.min.js' %>
<%= javascript_include_tag 'kitten/jquery-3.1.0.min.js' %>
<%= javascript_include_tag 'kitten/waypoint.js' %>
<%= javascript_include_tag 'kitten/dropdown.js' %>


</body>
</html>
