<!DOCTYPE html>
<html class="k-VerticalGrid">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Kitten style guide</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= env_stylesheet_link_tag(static: 'application',
                            hot: 'application_non_webpack',
                            media: 'all') %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis' %>

<%= env_javascript_include_tag(hot: kitten_hot_output_bundles) %>

<%= csrf_meta_tags %>

</head>
<body class="k-VerticalGrid__page">

<% if @groups || controller_name == "branding" %>
  <div class="karl-Menu" data-karl-menu>
    <div class="karl-Menu__header">
      <a data-karl-menu-toggle="true" class="karl-Menu__title">menu</a>
      <h3 class="karl-Menu__header__title">Styleguide <strong>KissKiss&amp;Co</strong></h3>
      <div class="k-u-clearfix"></div>
    </div>

    <nav class="karl-Menu__content">
      <div class="k-u-clearfix"></div>

      <%= link_to "Brand colors", branding_path, class: "karl-Menu__listTitle" %>
      <% if controller_name == "branding" %>
        <ul data-karl-menu-list>
          <li class="karl-Menu__list">
          <%= link_to "KissKissBankBank", branding_path(
            anchor: "kisskiss/colors"),
            class: "karl-Menu__listItem with-arrow #{'is-opened' if
            params[:theme] == 'branding/kisskissbankbank'}",
            "data-karl-menu-link" => true %>
            <ul class="karl-Menu__subList <%= 'is-opened' if
            params[:theme] == 'kisskissbankbank' %>">
              <li><%= link_to "Colors", branding_path(
              anchor: "kisskiss/colors"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
              <li><%= link_to "Fonts", branding_path(
              anchor: "kisskiss/fonts"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
            </ul>
          </li>
          <li class="karl-Menu__list">
          <%= link_to "hellomerci", branding_path(
          anchor: "hellomerci/colors"),
          class: "karl-Menu__listItem with-arrow #{'is-opened' if
          params[:theme] == 'hellomerci'}", "data-karl-menu-link" => true %>
            <ul class="karl-Menu__subList">
              <li><%= link_to "Colors", branding_path(
              anchor: "hellomerci/colors"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
              <li><%= link_to "Fonts", branding_path(
              anchor: "hellomerci/fonts"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
            </ul>
          </li>
          <li class="karl-Menu__list">
          <%= link_to "LENDOPOLIS", branding_path(
          anchor: "lendopolis/colors"),
          class: "karl-Menu__listItem with-arrow #{'is-opened' if
          params[:theme] == 'lendopolis'}", "data-karl-menu-link" => true %>
            <ul class="karl-Menu__subList">
              <li><%= link_to "Colors", branding_path(
              anchor: "lendopolis/colors"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
              <li><%= link_to "Fonts", branding_path(
              anchor: "lendopolis/fonts"),
              class: "karl-Menu__subListItem karl-Menu__link",
              "data-karl-menu-link" => true %></li>
            </ul>
          </li>
        </ul>
      <% end %>

      <%= link_to "Components", components_path, class: "karl-Menu__listTitle" %>
      <% if @groups %>
        <ul data-karl-menu-list>
          <% @groups.each do |group_id:, group_title:, components:| %>
            <li class="karl-Menu__list">
              <a href="#<%= group_id %>"
                 class="karl-Menu__listItem" data-karl-menu-link
                <%= "with-arrow" if components.any? %>"><%= group_title %></a>
              <ul class="karl-Menu__subList">
                <% components.each do |component_id:, component_title:| %>
                  <li>
                    <a href="#<%= component_id %>"
                       class="karl-Menu__subListItem karl-Menu__link"
                       data-karl-menu-link><%= component_title %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </nav>
  </div>

  <div class="karl-Header">
    <header class="karl-Header__container">
      <div class="karl-Header__content"></div>
    </header>
  </div>

  <div class="karl-Main">
    <div class="karl-Main__container">
      <section class="karl-Main__content">
        <%= yield %>
      </section>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

<%= react_component 'DevGrid' %>

<%= env_javascript_include_tag(static: 'application',
                               hot: 'application_non_webpack') %>

<%#= javascript_include_tag 'kitten/noframework.waypoints.min.js' %>
<%= javascript_include_tag 'kitten/jquery-3.1.0.min.js' %>
<%#= javascript_include_tag 'kitten/waypoint.js' %>
<%= javascript_include_tag 'kitten/karl.js' %>
<%= javascript_include_tag src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkc6oSvJDWUXb0HhsKV65MxzhhteWKErM&libraries=places" %>
</body>
</html>
