<!DOCTYPE html>
<html class="k-VerticalGrid">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Kitten style guide</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= env_stylesheet_link_tag(static: 'application',
                            hot: 'application_non_webpack',
                            media: 'all') %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis' %>

<%= env_javascript_include_tag(hot: kitten_hot_output_bundles) %>

<%= csrf_meta_tags %>

</head>
<body class="k-VerticalGrid__page">

<% if @groups || controller_name == "branding" %>
  <div class="karl-Menu" data-karl-menu>
    <div class="karl-Menu__header">
      <a data-karl-menu-toggle="true" class="karl-Menu__title">menu</a>
      <h3 class="karl-Menu__header__title">Styleguide <strong>KissKiss&amp;Co</strong></h3>
      <div class="k-u-clearfix"></div>
    </div>

    <nav class="karl-Menu__content">
      <div class="k-u-clearfix"></div>

      <%= link_to "Branding", branding_path, class: "karl-Menu__listTitle" %>
      <ul data-karl-menu-list>
        <% Kitten.configuration.branding_categories.each do |id:, label:, components:| %>
          <li class="karl-Menu__list">
            <a href="#<%= id %>"
               class="karl-Menu__listItem" data-karl-menu-link
              <%= "with-arrow" if components.any? %>"><%= label %></a>
            <ul class="karl-Menu__subList">
              <% components.each do |branding_path| %>
                <li>
                  <a href="#<%= branding_path %>"
                     class="karl-Menu__subListItem karl-Menu__link"
                     data-karl-menu-link><%= default_title(branding_path) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <%= link_to "Component", components_path, class: "karl-Menu__listTitle" %>
      <ul data-karl-menu-list>
        <% Kitten.configuration.component_categories.each do |id:, label:, components:| %>
          <li class="karl-Menu__list">
            <a href="#<%= id %>"
               class="karl-Menu__listItem" data-karl-menu-link
              <%= "with-arrow" if components.any? %>"><%= label %></a>
            <ul class="karl-Menu__subList">
              <% components.each do |component_path| %>
                <li>
                  <a href="#<%= component_path %>"
                     class="karl-Menu__subListItem karl-Menu__link"
                     data-karl-menu-link><%= default_title(component_path) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </nav>
  </div>

  <div class="karl-Header">
    <header class="karl-Header__container">
      <div class="karl-Header__content"></div>
    </header>
  </div>

  <div class="karl-Main" data-karl-section>
    <div class="k-Row">
      <div class="k-Row__content">
        <section data-karl-section-opacity class="k-Grid">
          <div class="k-Grid__col k-Grid__col--10 k-Grid__col--offset-1">
            <%= yield %>
          </div>
        </section>
      </div>
    </div>
  </div>

<% else %>
  <%= yield %>
<% end %>

<%= react_component 'DevGrid' %>

<%= env_javascript_include_tag(static: 'application',
                               hot: 'application_non_webpack') %>

<%= javascript_include_tag 'kitten/jquery-3.1.0.min.js' %>
<%= javascript_include_tag 'kitten/karl.js' %>
<%= javascript_include_tag src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkc6oSvJDWUXb0HhsKV65MxzhhteWKErM&libraries=places" %>
</body>
</html>
