<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Kitten style guide</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= webpack_stylesheet_tags(Kitten.configuration.webpack_entry_point) %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' %>

<%= csrf_meta_tags %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js"></script>

<%# JavaScript included in head because of the style guide's script tags %>
<%= javascript_include_tag 'dummy', type: 'text/babel' %>

</head>
<body>

<% if @menu_types %>
  <div class="karl-Container">
    <nav class="karl-Menu">
      <a class="karl-Menu__title">menu</a>

      <div class="k-u-clearfix"></div>

      <ul>
        <% @menu_types.each do |type_id:, type_title:, groups:| %>
          <li class="karl-Menu__list">
            <a href="#<%= type_id %>"
               class="karl-Menu__listItem"><%= type_title %></a>
            <ul class="karl-Menu__subList">
              <% groups.each do |group_id:, group_title:, components:| %>
                <li>
                  <a href="#<%= group_id %>"
                     class="karl-Menu__subListItem"><%= group_title %></a>
                  <ul class="karl-Menu__subSubList">
                    <% components.each do |component_id:, component_title:| %>
                      <li>
                        <a class="karl-Menu__subSubListItem"
                           href="#<%= component_id %>"><%= component_title %></a>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="karl-Content">
      <section>
        <!-- <header class="karl-Title">ComponentsKissCo</header> -->
        <%= yield %>
      </section>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

<div class="karl-OverGrid" style="display: none" data-display-shortcut="g">
  <div class="karl-OverGrid__row">
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
    <div class="karl-OverGrid__col"></div>
  </div>
</div>

<%#= javascript_include_tag 'kitten/noframework.waypoints.min.js' %>
<%= javascript_include_tag 'kitten/jquery-3.1.0.min.js' %>
<%#= javascript_include_tag 'kitten/waypoint.js' %>
<%= javascript_include_tag 'kitten/dropdown.js' %>
<%= javascript_include_tag 'kitten/karl.js' %>

</body>
</html>
