<h1 class="karl-Title">Brand colors</h1>
<h2 id="common/colors" class="karl-Section__title">
  Common colors
</h2>

<%= render "kitten/branding/colors", colors: [
  {
    name: 'Grey',
    hexa: '#d8d8d8',
  },
  {
    name: 'Grey semi dark',
    hexa: '#b8b8b8',
  },
  {
    name: 'Grey dark',
    hexa: '#333333',
  },
  {
    name: 'Grey semi light',
    hexa: '#eeeeee',
  },
  {
    name: 'Grey light',
    hexa: '#fbfbfb',
    border: '#eeeeee',
  },
  {
    name: 'Grey extra light',
    hexa: '#f6f6f6',
    border: '#eeeeee',
  },
  {
    name: 'White',
    hexa: '#ffffff',
    border: '#eeeeee',
  }
] %>
<%= render "kitten/branding/colors", colors: [
  {
    name: 'Green',
    hexa: '#68ffa0',
  },
  {
    name: 'Green semi dark',
    hexa: '#59f091',
  },
  {
    name: 'Green dark',
    hexa: '#4ae191',
  },
  {
    name: 'Green semi light',
    hexa: '#d1ffe2',
  },
  {
    name: 'Green light',
    hexa: '#effff5',
    border: '#d1ffe2',
  },
  {
    name: 'Green extra light',
    hexa: '#f6fef9',
    border: '#d1ffe2',
  }
] %>
<%= render "kitten/branding/colors", colors: [
  {
    name: 'Red',
    hexa: '#ff4146',
  },
  {
    name: 'Red semi dark',
    hexa: '#f03237',
  },
  {
    name: 'Red dark',
    hexa: '#e12328',
  },
  {
    name: 'Red semi light',
    hexa: '#ffc6c7',
  },
  {
    name: 'Red light',
    hexa: '#ffecec',
    border: '#ffc6c7',
  },
  {
    name: 'Red extra light',
    hexa: '#fff5f5',
    border: '#ffc6c7',
  }
] %>

<hr class="karl-Colors__cardSection">

<h2 id="kisskiss/colors" class="karl-Section__title">
  KissKissBankBank colors
</h2>

<%= render "kitten/branding/colors", colors: [
  {
    name: 'Primary',
    hexa: '#0d9ddb',
  },
  {
    name: 'Primary semi black',
    hexa: '#008cca',
  },
  {
    name: 'Primary black',
    hexa: '#007bb9',
  },
  {
    name: 'Primary light',
    hexa: '#cbe8f9',
  },
  {
    name: 'Primary extra light',
    hexa: '#e6f5fb',
    border: '#cbe8f9',
  },
  {
    name: 'Primary thin',
    hexa: '#f3fafd',
    border: '#cbe8f9',
  }
] %>

<hr class="karl-Colors__cardSection">

<h2 id="hellomerci/colors" class="karl-Section__title">
  hellomerci colors
</h2>

<%= render "kitten/branding/colors", colors: [
  {
    name: 'Primary',
    hexa: '#79ccd7',
    border: '#79ccd7',
  },
  {
    name: 'Primary semi black',
    hexa: '#6abdc8',
    border: '#6abdc8',
  },
  {
    name: 'Primary black',
    hexa: '#5aafb9',
    border: '#5aafb9',
  },
  {
    name: 'Primary light',
    hexa: '#d7eff2',
    border: '#d7eff2',
  },
  {
    name: 'Primary extra light',
    hexa: '#f1f9fb',
    border: '#d7eff2',
  },
  {
    name: 'Primary thin',
    hexa: '#f8fcfd',
    border: '#d7eff2',
  }
] %>

<hr class="karl-Colors__cardSection">

<h2 id="lendopolis/colors" class="karl-Section__title">
  LENDOPOLIS colors
</h2>

<%= render "kitten/branding/colors", colors: [
  {
    name: 'Primary',
    hexa: '#197ff2',
    border: '#197ff2',
  },
  {
    name: 'Primary semi black',
    hexa: '#0a70e3',
    border: '#0a70e3',
  },
  {
    name: 'Primary black',
    hexa: '#0061d4',
    border: '#0061d4',
  },
  {
    name: 'Primary light',
    hexa: '#bad8fb',
    border: '#bad8fb',
  },
  {
    name: 'Primary extra light',
    hexa: '#e8f2fd',
    border: '#bad8fb',
  },
  {
    name: 'Primary thin',
    hexa: '#f3f8fe',
    border: '#bad8fb',
  }
] %>

<hr class="karl-Colors__cardSection">
