  <section>
  <!-- Branding KissKissBankBank -->
    <h2 id="kisskiss/colors" class="karl-Title__breadcrumb">Branding colors KissKissBankBank</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/kisskissbankbank/colors" %>
    </section>

    <h2 id="kisskiss/fonts" class="karl-Title__breadcrumb">Branding font KissKissBankBank</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/kisskissbankbank/fonts" %>
    </section>

  <!-- Branding HelloMerci -->
    <h2 id="hellomerci/colors" class="karl-Title__breadcrumb">Branding colors Hellomerci</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/hellomerci/colors" %>
    </section>

    <h2 id="hellomerci/fonts" class="karl-Title__breadcrumb">Branding font Hellomerci</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/hellomerci/fonts" %>
    </section>

  <!-- Branding LENDOPOLIS -->
    <h2 id="lendopolis/colors" class="karl-Title__breadcrumb">Branding colors Lendopolis</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/lendopolis/colors" %>
    </section>

    <h2 id="lendopolis/fonts" class="karl-Title__breadcrumb">Branding font Lendopolis</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/lendopolis/fonts" %>
    </section>
  </section>
