<section>
  <%= render_type 'organisms' do %>
    <%= render_group 'components/organisms/simulators' %>
    <%= render_group 'components/organisms/dropdowns' %>
    <%= render_group 'components/organisms/headers' %>
  <% end %>
</section>

<section>
  <%= render_type 'molecules' do %>
    <%= render_group 'components/molecules/buttons' %>
    <%= render_group 'components/molecules/cards' %>
    <%= render_group 'components/molecules/form' %>
    <%= render_group 'components/molecules/grid' %>
    <%= render_group 'components/molecules/heroes' %>
    <%= render_group 'components/molecules/navigation' %>
    <%= render_group 'components/molecules/simulators' %>
    <%= render_group 'components/molecules/teaser' %>
    <%= render_group 'components/molecules/testimonies' %>
    <%= render_group 'components/molecules/titles' %>
    <%= render_group 'components/molecules/links' %>
  <% end %>
</section>

<section>
  <%= render_type 'atoms' do %>
    <%= render_group 'components/atoms/buttons' %>
    <%= render_group 'components/atoms/form' %>
    <%= render_group 'components/atoms/notifications' %>
  <% end %>
</section>
