<%= example "Paragraph 1" do %>
  <p class="k-Paragraph k-Paragraph--primary">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum
    nunc a sem ornare malesuada. Nulla semper varius neque vitae finibus. Sed
    ac quam pretium, cursus nisl ac, dignissim ipsum. Pellentesque vehicula
    purus quis condimentum finibus. Pellentesque a laoreet tellus.
  </p>
<% end %>

<%= example "Paragraph 2" do %>
  <p class="k-Paragraph k-Paragraph--secondary">
    Praesent vel congue quam, in malesuada magna. Nullam vel molestie leo.
    Aenean tempor id arcu vitae cursus. Pellentesque eu mauris sit amet mi
    euismod pulvinar. Pellentesque sed congue libero. Vivamus in libero
    pellentesque, vehicula metus a, commodo orci. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam
    vel luctus velit.
  </p>
<% end %>

<%= example "Paragraph 3" do %>
  <p class="k-Paragraph k-Paragraph--tertiary">
    Sed eu ex pulvinar, sollicitudin est quis, euismod metus. Maecenas feugiat,
    neque eu consequat laoreet, velit elit pretium est, at lacinia libero tellus
    ac lectus. Donec rhoncus erat orci, porta volutpat lectus accumsan
    ultricies. Curabitur vehicula metus orci, vitae volutpat sapien interdum a.
  </p>
<% end %>

<%= example "Paragraph 4" do %>
  <p class="k-Paragraph k-Paragraph--quaternary">
    Morbi eu ultricies lectus, eu fermentum leo. Interdum et malesuada fames ac
    ante ipsum primis in faucibus. Proin at semper felis, vel sollicitudin
    sapien. Donec imperdiet dolor dolor, euismod molestie ex sollicitudin vel.
    Proin a justo rhoncus, imperdiet sapien ut, feugiat libero. In hac habitasse
    platea dictumst.
  </p>
<% end %>

<%= example "Paragraph with link" do %>
  <p class="k-Paragraph k-Paragraph--quaternary">
    Morbi eu ultricies lectus, eu fermentum leo. Interdum et malesuada fames ac
    ante ipsum primis in <a class="k-Paragraph__link" href="#">faucibus</a>.
    Proin at semper felis, vel sollicitudin sapien. Donec imperdiet dolor dolor,
    euismod molestie ex sollicitudin vel.
    Proin a justo rhoncus, imperdiet sapien ut, feugiat libero. In hac habitasse
    platea dictumst.
  </p>
<% end %>
