<%= example "Title 1" do %>
  <h1 class='k-Title k-Title--primary'>Libérons la créativité !</h1>
<% end %>

<%= example "Title 2" do %>
  <h2 class='k-Title k-Title--secondary'>Libérons la créativité !</h2>
<% end %>

<%= example "Title 3" do %>
  <h3 class='k-Title k-Title--tertiary'>Libérons la créativité !</h3>
<% end %>

<%= example "Title 4" do %>
  <h4 class='k-Title k-Title--quaternary'>Libérons la créativité !</h4>
<% end %>

<%= example "Title 5" do %>
  <h5 class='k-Title k-Title--quinary'>Libérons la créativité !</h5>
<% end %>
