<%= example "Title : primary" do %>
  <h1 class='k-Title k-Title--primary'>Felis silvestris catus</h1>
<% end %>

<%= example "Title : secondary" do %>
  <h2 class='k-Title k-Title--secondary'>Felis silvestris catus</h2>
<% end %>

<%= example "Title : tertiary" do %>
  <h3 class='k-Title k-Title--tertiary'>Felis silvestris catus</h3>
<% end %>

<%= example "Title : quaternary" do %>
  <h4 class='k-Title k-Title--quaternary'>Felis silvestris catus</h4>
<% end %>

<%= example "Title quinary" do %>
  <h5 class='k-Title k-Title--quinary'>Felis silvestris catus</h5>
<% end %>
