<div class="k-Row k-Row--padded">
  <div class="k-Row__content">

    <div class="k-Footer">

      <div class="k-Footer__brand">
        <%= image_tag 'brand/hellomerci.svg', alt: 'hellomerci' %>
        <p class="k-Footer__brand__text">
          Plateforme de pêts entre
          particuliers de 200 à 10&nbsp;000&nbsp;€.
        </p>
      </div>

      <div class="k-Footer__nav">
        <div class="k-Grid">
          <div class="k-Grid__col--12 k-Grid__col--4@m">
            <ul class="k-LinkList">
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Emprunter</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Comment ça marche&nbsp;?</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">CGU</a>
              </li>
            </ul>
          </div>
          <div class="k-Grid__col--12 k-Grid__col--4@m">
            <ul class="k-LinkList">
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Collectes publiques</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Sélection de projets</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">La méthode</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Nos statistiques</a>
              </li>
            </ul>
          </div>
          <div class="k-Grid__col--12 k-Grid__col--4@m">
            <ul class="k-LinkList">
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Presse</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Contact</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">Forum</a>
              </li>
              <li class="k-LinkList__item">
                <a class="k-LinkList__link" href="#">L'équipe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="k-Footer__actions">
        <%= react_component('SelectWithState', props: {
              className: 'k-Footer__actions__select',
              name: 'locale',
              value: 'fr',
              options: [
                { value: 'en', label: 'English' },
                { value: 'fr', label: 'Français' },
              ],
            }) %>
      </div>

      <div class="k-Footer__logos">
        <div class="k-Footer__logos__list">
          <div class="k-Footer__logo">
            <div class="k-Footer__logo__img">
              <%= image_tag 'partners/french-authorities.svg',
                            alt: 'Autorités françaises' %>
            </div>
            <div class="k-Footer__logo__text">
              hellomerci est une plateforme de financement participatif
              régulée par les autorités françaises.<br />
              Immatriculation&nbsp;: 14007218.
            </div>

          </div>
          <div class="k-Footer__logo">

            <div class="k-Footer__logo__img">
              <%= image_tag 'partners/ingenico.svg', alt: 'Ingenico Group' %>
            </div>
            <div class="k-Footer__logo__text">
              KissKissBankBank Technologies est agent de l'institution
              financière
              <a href="https://www.nbb.be/fr/supervision-financiere/controle-prudentiel/domaines-de-controle/etablissements-de-paiement-et-9">
                Ingenico Financial Solutions NV/SA
              </a>.<br />
              Paiements sécurisés avec Ingenico Payment Services.
            </div>
          </div>

        </div>
      </div>
      <div class="k-Footer__copyright">
        © <%= Time.zone.now.year %> KissKissBankBank&nbsp;&amp;&nbsp;Co
      </div>
    </div>

  </div>
</div>

<div class="k-TabBar k-TabBar--responsive is-fixed">
  <ul class="k-TabBar__nav">
    <li>
      <%= link_to raw('Lorem <br />ipsum dolor'),
                  { current: 'tabbar-1' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-1' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Lorem <br />ipsum dolor'),
                  { current: 'tabbar-2' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-2' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Lorem <br />ipsum dolor'),
                  { current: 'tabbar-3' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-3' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Lorem <br />ipsum dolor'),
                  { current: 'tabbar-4' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-4' ? 'is-selected' : '') %>
    </li>
  </ul>
</div>
