<style>
  body { background-color: #fbfdfe; }
</style>

<header id="header-logged" class="k-Header" role="banner">

  <div class="k-Header__container">
    <div class="k-Header__row">

      <div class="k-Header__items">

        <div class="k-Header__item" id="k-Header__platformSwitchDropdown">
          <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
        </div>

        <p class="k-Header__item k-Header__item__logo">
          <a class="k-Header__logo k-Header__logo--lightOnM k-Header__logo--lightOnXxs" href="header">
            <%= image_tag 'brand/lendopolis.svg', alt: 'lendopolis' %>
          </a>
        </p>

        <nav class="k-Header__item k-Header__nav">
          <ul class="k-HorizontalNav" role="menubar">
            <li role="menuitem">
              <%= link_to 'Comment emprunter',
                          { current: 'nav-1' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-1' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Comment prêter',
                          { current: 'nav-2' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-2' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Découvrez les projets',
                          { current: 'nav-3' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-3' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'À propos',
                          { current: 'nav-4' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-4' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Crowd',
                          { current: 'nav-4' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-4' ? 'is-selected' : '') %>
            </li>
          </ul>
        </nav>

      </div>

      <div class="k-Header__items k-Header__items--fixedSize">

        <div class="k-Header__item">
          <button class="k-ButtonIcon
                         k-ButtonIcon--default
                         k-ButtonIcon--signup">
            <svg class="k-ButtonIcon__svg"
                 viewBox="0 0 16 18"
                 xmlns="http://www.w3.org/2000/svg">
              <path d='M3.354 0C2.238 0 .496.498.207 2.268-.2 4.764 1.533 9.09
                4.047 12.202c2.49 3.084 6.305 5.63 8.86
                5.792.06.004.12.006.177.006 2.39 0 3.002-3.158
                2.694-3.548l-4.335-1.94c-.26-.15-.532-.225-.79-.225-.263
                0-.51.08-.713.24l-.866.63c-.093.034-.194.05-.302.05-1.807
                0-5.535-4.758-4.636-6.166.006-.008.79-.724.79-.724.387-.313.534-.882.347-1.444L4.275.206C4.18.088
                3.823 0 3.355 0' />
            </svg>
          </button>
        </div>

        <% if params.key?(:logged) %>
          <div id="k-UserMenuDropdownLogged" class="k-Header__item">
            <%= react_component('KarlLoggedHeaderUserMenu') %>
          </div>
        <% else %>
          <div class="k-Header__item k-Header__signup">
            <%= link_to "Se connecter",
                { logged: true },
                class: 'k-Button k-Button--default k-Header__button' %>
          </div>
          <div class="k-Header__item k-Header__signupIcon">
            <a href="?logged=true">
              <button class="k-ButtonIcon
                             k-ButtonIcon--default
                             k-ButtonIcon--signup">
                <svg class="k-ButtonIcon__svg" viewBox="0 0 14 18"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.984 14.244c-.404-2.563-2.527-4.502-4.95-5.22
                    1.042-1.158 1.595-3.05 1.597-4.33C10.636 2.73 9.024.688
                    6.97.688c-2.055 0-3.667 2.04-3.664 4.006.002 1.287.56 3.188
                    1.61 4.346-2.4.73-4.497 2.658-4.9 5.204C-.15 15.3 1.075 16
                    1.865 16.357c1.554.703 3.33.943 5.02.955 1.71.012 3.5-.21
                    5.086-.883.832-.354 2.19-1.07 2.014-2.186z" />
                </svg>
              </button>
            </a>
          </div>
        <% end %>

      </div>

    </div>
  </div>

</header>

<div style="margin-top: 50px"></div>

<header id="header-logged" class="k-Header" role="banner">

  <div class="k-Header__container">
    <div class="k-Header__row">

      <div class="k-Header__items">

        <div class="k-Header__item" id="k-Header__platformSwitchDropdown">
          <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
        </div>

        <p class="k-Header__item k-Header__item__logo">
          <a class="k-Header__logo" href="header">
            <%= image_tag 'brand/hellomerci.svg', alt: 'hellomerci' %>
          </a>
        </p>

        <nav class="k-Header__item k-Header__nav">
          <ul class="k-HorizontalNav" role="menubar">
            <li role="menuitem">
              <%= link_to 'Emprunter à mes amis',
                          { current: 'nav-1' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-1' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Comment ça marche&nbsp;?'.html_safe,
                          { current: 'nav-2' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-2' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Crowd',
                          { current: 'nav-3' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-3' ? 'is-selected' : '') %>
            </li>
          </ul>
        </nav>

      </div>

      <div class="k-Header__items k-Header__items--fixedSize">

        <% if params.key?(:logged) %>
          <div id="k-UserMenuDropdownLogged" class="k-Header__item">
            <%= react_component('KarlLoggedHeaderUserMenu') %>
          </div>
        <% else %>
          <div class="k-Header__item k-Header__signup">
            <%= link_to "Se connecter",
                        { logged: true },
                        class: 'k-Button k-Button--defaut k-Header__button' %>
          </div>
          <div class="k-Header__item k-Header__signupIcon">
            <a href="?logged=true">
              <button class="k-ButtonIcon
                             k-ButtonIcon--default
                             k-ButtonIcon--signup">
                <svg class="k-ButtonIcon__svg" viewBox="0 0 14 18"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.984 14.244c-.404-2.563-2.527-4.502-4.95-5.22
                    1.042-1.158 1.595-3.05 1.597-4.33C10.636 2.73 9.024.688
                    6.97.688c-2.055 0-3.667 2.04-3.664 4.006.002 1.287.56 3.188
                    1.61 4.346-2.4.73-4.497 2.658-4.9 5.204C-.15 15.3 1.075 16
                    1.865 16.357c1.554.703 3.33.943 5.02.955 1.71.012 3.5-.21
                    5.086-.883.832-.354 2.19-1.07 2.014-2.186z" />
                </svg>
              </button>
            </a>
          </div>
        <% end %>

      </div>

    </div>
  </div>

</header>

<div style="margin-top: 50px"></div>

<header id="header-logged" class="k-Header" role="banner">

  <div class="k-Header__container">
    <div class="k-Header__row">

      <div class="k-Header__items">

        <div class="k-Header__item" id="k-Header__platformSwitchDropdown">
          <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
        </div>

        <p class="k-Header__item k-Header__item__logo">
          <a class="k-Header__logo k-Header__logo--lightOnM" href="header">
            <%= image_tag 'brand/kisskissbankbank.svg', alt: 'kisskissbankbank' %>
          </a>
        </p>

        <nav class="k-Header__item k-Header__nav">
          <ul class="k-HorizontalNav" role="menubar">
            <li role="menuitem">
              <%= link_to 'Starten Dein Projekt',
                          { current: 'nav-1' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-1' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Entdecken die Projekte',
                          { current: 'nav-2' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-2' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Wie funktioniert das',
                          { current: 'nav-3' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-3' ? 'is-selected' : '') %>
            </li>
            <li role="menuitem">
              <%= link_to 'Crowd',
                          { current: 'nav-4' },
                          class: 'k-HorizontalNav__item k-Header__nav__item ' +
                          (params['current'] == 'nav-4' ? 'is-selected' : '') %>
            </li>
          </ul>
        </nav>

      </div>

      <div class="k-Header__items k-Header__items--fixedSize">

        <div class="k-Header__item k-Header__search">
          <form class="k-SearchInput" role="search">

            <input class="k-TextInput
                          k-SearchInput__input
                          k-Header__search__input"
                   type="text"
                   name="foobar"
                   placeholder="Foobar…" />

            <input class="k-SearchInput__submit"
                   type="submit"
                   value="Search" />

          </form>
        </div>

        <% if params.key?(:logged) %>
          <div id="k-UserMenuDropdownLogged" class="k-Header__item">
            <%= react_component('KarlLoggedHeaderUserMenu') %>
          </div>
        <% else %>
          <div class="k-Header__item k-Header__signup">
            <%= link_to "S'identifier",
                        { logged: true },
                        class: 'k-Button k-Button--default k-Header__button' %>
          </div>
          <div class="k-Header__item k-Header__signupIcon">
            <a href="?logged=true">
              <button class="k-ButtonIcon
                             k-ButtonIcon--default
                             k-ButtonIcon--signup">
                <svg class="k-ButtonIcon__svg" viewBox="0 0 14 18"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.984 14.244c-.404-2.563-2.527-4.502-4.95-5.22
                    1.042-1.158 1.595-3.05 1.597-4.33C10.636 2.73 9.024.688
                    6.97.688c-2.055 0-3.667 2.04-3.664 4.006.002 1.287.56 3.188
                    1.61 4.346-2.4.73-4.497 2.658-4.9 5.204C-.15 15.3 1.075 16
                    1.865 16.357c1.554.703 3.33.943 5.02.955 1.71.012 3.5-.21
                    5.086-.883.832-.354 2.19-1.07 2.014-2.186z" />
                </svg>
              </button>
            </a>
          </div>
        <% end %>

      </div>

    </div>
  </div>

</header>

<div class="k-TabBar k-TabBar--responsive is-fixed">
  <ul class="k-TabBar__nav">
    <li>
      <%= link_to raw('Starten dein <br />Projekt'),
                  { current: 'tabbar-1' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-1' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Entdecken die <br />Projekte'),
                  { current: 'tabbar-2' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-2' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Wie funktioniert <br />das'),
                  { current: 'tabbar-3' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  (params['current'] == 'tabbar-3' ? 'is-selected' : '') %>
    </li>
    <li>
      <%= link_to raw('Crowd'),
                  { current: 'tabbar-4' },
                  class: 'k-TabBar__item k-TabBar__item--thinGutters ' +
                  'k-TabBar__item--singleLine ' +
                  (params['current'] == 'tabbar-4' ? 'is-selected' : '') %>
    </li>
  </ul>
</div>
