<style>
  body { background: #d7eff2; }
</style>
<header id="header-logged" class="k-Header" role="banner">

  <div class="k-Header__grid">

    <div class="k-Header__items">

      <div class="k-Header__item" id="k-Header__platformSwitchDropdown">
        <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
      </div>

      <p class="k-Header__item">
        <a href="playground">
          <img src="https://placeholdit.imgix.net/~text?txt=LOGO&amp;w=180&amp;h=40"
               alt="LOGO"
               style="display:block;" />
        </a>
      </p>

      <nav class="k-Header__item k-Header__nav">
        <ul class="k-HorizontalNav" role="menubar">
          <li role="menuitem">
            <%= link_to 'Nav link 1',
                        { current: 'nav-1' },
                        class: 'k-HorizontalNav__item ' +
                        (params['current'] == 'nav-1' ? 'is-selected' : '') %>
          </li>
          <li role="menuitem">
            <%= link_to 'Nav link 2',
                        { current: 'nav-2' },
                        class: 'k-HorizontalNav__item ' +
                        (params['current'] == 'nav-2' ? 'is-selected' : '') %>
          </li>
          <li role="menuitem">
            <%= link_to 'Nav link 3',
                        { current: 'nav-3' },
                        class: 'k-HorizontalNav__item ' +
                        (params['current'] == 'nav-3' ? 'is-selected' : '') %>
          </li>
        </ul>
      </nav>

    </div>

    <div class="k-Header__items k-Header__items--pull-end">

      <div class="k-Header__item">
        <button class="k-ButtonIcon k-ButtonIcon__heart">
          <svg class="k-ButtonIcon__svg" viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z" />
          </svg>
        </button>
      </div>

      <% if params.key?(:logged) %>
        <div id="k-UserMenuDropdownLogged" class="k-Header__item">
          <%= react_component('KarlLoggedHeaderUserMenu') %>
        </div>
      <% else %>
        <div class="k-Header__item k-Header__signup">
          <%= link_to "S'identifier", { logged: true }, class: 'k-Button' %>
        </div>
        <div class="k-Header__item k-Header__signupIcon">
          <a href="?logged=true">
            <button class="k-ButtonIcon k-ButtonIcon__signup">
              <svg class="k-ButtonIcon__svg" viewBox="0 0 14 18"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M13.984 14.244c-.404-2.563-2.527-4.502-4.95-5.22
                  1.042-1.158 1.595-3.05 1.597-4.33C10.636 2.73 9.024.688
                  6.97.688c-2.055 0-3.667 2.04-3.664 4.006.002 1.287.56 3.188
                  1.61 4.346-2.4.73-4.497 2.658-4.9 5.204C-.15 15.3 1.075 16
                  1.865 16.357c1.554.703 3.33.943 5.02.955 1.71.012 3.5-.21
                  5.086-.883.832-.354 2.19-1.07 2.014-2.186z" />
              </svg>
            </button>
          </a>
        </div>
      <% end %>

    </div>

  </div>

</header>
