<div class="k-Row k-Row--centered k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <%= react_component("Stepper", props: {
      items: [
        {
          text: "Statut\n du créateur",
          href: "#",
          linkClassNames: "k-Stepper__link",
          iconType: "default",
        },
        {
          text: "Description\n du créateur",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
        {
          text: "Le projet",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
        {
          text: "Description\n sommaire",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
      ]
    }) %>
  </div>
</div>

<div class="k-Row k-Row--centered k-Row--lightBottomBorder k-u-margin-top-double">
  <div class="k-Row__content">
    <%= react_component("Stepper", props: {
      items: [
        {
          text: "Statut\n du créateur",
          href: "#",
          linkClassNames: "k-Stepper__link",
          iconType: "validated",
        },
        {
          text: "Description\n du créateur",
          href: "#",
          linkClassNames: "k-Stepper__link",
          iconType: "default",
        },
        {
          text: "Le projet",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
        {
          text: "Description\n sommaire",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
      ]
    }) %>
  </div>
</div>

<div class="k-Row k-Row--centered k-Row--lightBottomBorder k-u-margin-top-double">
  <div class="k-Row__content">
    <%= react_component("Stepper", props: {
      items: [
        {
          text: "Description\n détaillée",
          href: "#",
          linkClassNames: "k-Stepper__link",
          iconType: "validated",
        },
        {
          text: "Contreparties",
          href: "#",
          iconType: "default",
        },
        {
          text: "Informations\n bancaires",
          href: "#",
          linkClassNames: "k-Stepper__link",
          iconType: "default",
        },
      ]
    }) %>
  </div>
</div>

<div class="k-Row k-u-margin-top-triple">
  <div class="k-Row__content">
    <div class="k-Grid">
      <div class="k-Grid__col--6">
        <p class="k-Title k-Title--tertiary">L'essentiel</p>
        <p class="k-Paragraph k-Paragraph--secondary">
          Dîtes nous qui vous êtes et décrivez les éléments clés de votre projet. 
          Cette étape permettra à notre équipe de comprendre votre projet et de
          mieux vous accompagner sur l’étape 2.
        </p>
        <%= react_component("Stepper", props: {
          withAlignStart: true,
          withTinySpacing: true,
          items: [
            {
              text: "Statut\n du créateur",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
            {
              text: "Description\n du créateur",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
            {
              text: "Le projet",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
            {
              text: "Description\n sommaire",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
          ]
        }) %>
      </div>
      <div class="k-Grid__col--6">
        <p class="k-Title k-Title--tertiary">L'essentiel</p>
        <p class="k-Paragraph k-Paragraph--secondary">
          Dîtes nous qui vous êtes et décrivez les éléments clés de votre projet. 
          Cette étape permettra à notre équipe de comprendre votre projet et de
          mieux vous accompagner sur l’étape 2.
        </p>
        <%= react_component("Stepper", props: {
          withAlignStart: true,
          withTinySpacing: true,
          items: [
            {
              text: "Statut\n du créateur",
              href: "#",
              linkClassNames: "k-Stepper__link",
              iconType: "validated",
            },
            {
              text: "Description\n du créateur",
              href: "#",
              iconType: "default",
            },
            {
              text: "Le projet",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
            {
              text: "Description\n sommaire",
              linkClassNames: "k-Stepper__link--inactive",
              iconType: "default",
            },
          ]
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="k-Row k-u-margin-top-single k-u-margin-bottom-triple">
  <div class="k-Row__content">
    <div class="k-Grid">
      <div class="k-Grid__col--6">
        <p class="k-Title k-Title--tertiary">Peaufinez votre projet</p>
        <p class="k-Paragraph k-Paragraph--secondary">
          Créez votre page projet, personnalisez votre mode de collecte
          (don contre don, préventes, contreparties, …)
          et renseignez vos informations bancaires.
        </p>
        <%= react_component("Stepper", props: {
          withAlignStart: true,
          withTinySpacing: true,
          items: [
            {
              text: "Description\n détaillée",
              href: "#",
              iconType: "default",
            },
            {
              text: "Contreparties",
              href: "#",
              iconType: "default",
            },
            {
              text: "Informations\n bancaires",
              href: "#",
              iconType: "default",
            },
          ]
        }) %>
      </div>
      <div class="k-Grid__col--6">
        <p class="k-Title k-Title--tertiary">Peaufinez votre projet</p>
        <p class="k-Paragraph k-Paragraph--secondary">
          Créez votre page projet, personnalisez votre mode de collecte
          (don contre don, préventes, contreparties, …)
          et renseignez vos informations bancaires.
        </p>
        <%= react_component("Stepper", props: {
          withAlignStart: true,
          withTinySpacing: true,
          items: [
            {
              text: "Description\n détaillée",
              href: "#",
              linkClassNames: "k-Stepper__link",
              iconType: "validated",
            },
            {
              text: "Contreparties",
              href: "#",
              iconType: "default",
            },
            {
              text: "Informations\n bancaires",
              href: "#",
              iconType: "default",
            },
          ]
        }) %>
      </div>
    </div>
  </div>
</div>
