<div class="karl-Example__column">
  <%= example "Margin top - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-top-single karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin top - double" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-top-double karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin top - triple" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-top-triple karl-SpacingContent"></div>
    </div>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Margin bottom - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-bottom-single karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin bottom - double" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-bottom-double karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin bottom - triple" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-bottom-triple karl-SpacingContent"></div>
    </div>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Margin left - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-left-single karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin left - double" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-left-double karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin left - triple" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-left-triple karl-SpacingContent"></div>
    </div>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Margin right - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-right-single karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin right - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-right-double karl-SpacingContent"></div>
    </div>
  <% end %>

  <%= example "Margin right - single" do %>
    <div class="karl-SpacingBorder">
      <div class="k-u-margin-right-triple karl-SpacingContent"></div>
    </div>
  <% end %>
</div>
