<% colors = [
  [
    {
      name: 'Primary 1',
      hexa: '#79CCD7',
      rgba: 'rgba(120, 205, 215, 1)',
    },
    {
      name: 'Primary 2',
      hexa: '#6ABDC8',
      rgba: 'rgba(106, 189, 200, 1)',
    },
    {
      name: 'Primary 3',
      hexa: '#5BAEB9',
      rgba: 'rgba(91, 174, 185, 1)',
    },
    {
      name: 'Primary 4',
      hexa: '#D7EFF2',
      rgba: 'rgba(215, 239, 242, 1)',
    },
  ],
  [
    {
      name: 'Secondary 1',
      hexa: '#FFF594',
      rgba: 'rgba(255, 245, 148, 1)',
    },
    {
      name: 'Secondary 2',
      hexa: '#F0E685',
      rgba: 'rgba(240, 230, 133, 1)',
    },
    {
      name: 'Secondary 3',
      hexa: '#E1D776',
      rgba: 'rgba(225, 215, 118, 1)',
    },
    {
      name: 'Secondary 4',
      hexa: '#FFF9C6',
      rgba: 'rgba(255, 249, 198, 1)',
    },
  ],
  [
    {
      name: 'Third 1',
      hexa: '#FFD5E5',
      rgba: 'rgba(255, 213, 229, 1)',
    },
    {
      name: 'Third 2',
      hexa: '#F0C6D6',
      rgba: 'rgba(240, 198, 214, 1)',
    },
    {
      name: 'Third 3',
      hexa: '#E1B7C7',
      rgba: 'rgba(225, 183, 199, 1)',
    },
    {
      name: 'Third 4',
      hexa: '#FFF2F7',
      rgba: 'rgba(255, 242, 247, 1)',
    },
  ],
  [
    {
      name: 'Fourth 1',
      hexa: '#BEFAC8',
      rgba: 'rgba(190, 250, 200, 1)',
    },
    {
      name: 'Fourth 2',
      hexa: '#AFEBB9',
      rgba: 'rgba(175, 235, 185, 1)',
    },
    {
      name: 'Fourth 3',
      hexa: '#A0DCAA',
      rgba: 'rgba(160, 220, 170, 1)',
    },
    {
      name: 'Fourth 4',
      hexa: '#EBFDEE',
      rgba: 'rgba(235, 253, 238, 1)',
    },
  ],
  [
    {
      name: 'Background 1',
      hexa: '#D7EFF2',
      rgba: 'rgba(215, 239, 242, 1)',
    },
    {
      name: 'Background 2',
      hexa: '#FBFDFE',
      rgba: 'rgba(251, 253, 254, 1)',
    },
  ]
] %>


<%= example do %>

  <div class="karl-Colors">
    <% colors.each do |type_color| %>
      <div class="karl-Colors__content">

        <% type_color.each do |color| %>
          <div class="karl-Colors__card karl-Colors__cardBackground"
               style="background-color: <%= color[:hexa] %>">
            <div class="karl-Colors__cardDescription">
              <p class="karl-Colors__cardParagraph k-ParagraphXsSemiBold"><%= color[:name] %></p>
              <p class="karl-Colors__cardParagraph k-ParagraphXs"><%= color[:hexa] %></p>
              <p class="karl-Colors__cardParagraph k-ParagraphXs"><%= color[:rgba] %></p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>

  <div class="k-u-clearfix"></div>

<% end %>
