<% fonts = [
  [
    {
      weight: 400,
      description: 'Dosis-Regular',
    },
    {
      weight: 300,
      description: 'SourceSansPro-Light',
    },
  ]
] %>

<%= example do %>
  <div class="karl-Fonts">
    <% fonts.each do |type_font| %>
      <div class="karl-Fonts__content">
        <% type_font.each do |font| %>
          <div class="karl-Fonts__card">
            <div class="karl-Fonts__cardDescription">
              <p class="karl-Fonts__cardTitle" style="font-weight: <%= font[:weight] %>">Aa Zz</p>
              <p class="karl-Fonts__cardParagraph k-ParagraphXs"><%= font[:description] %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>



<%= example 'Titre 1' do %>
  <h1 class="k-TitleH1Dosis">Libérons la créativité</h1>
  <p class="k-ParagraphXl">Dosis / Regular / 82px / Line Height 104 / Margin bottom 52px</p>
<% end %>

<%= example 'Titre 2' do %>
  <h2 class="k-TitleH2Dosis">Typewriter delectus cred</h2>
  <p class="k-ParagraphXl">Dosis / Regular / 51px / Line Height 52 / Margin Bottom 52px</p>
<% end %>

<%= example 'Titre 3' do %>
  <h3 class="k-TitleH3Dosis">Truffaut disrupt sartorial deserunt</h3>
  <p class="k-ParagraphXl">Dosis / Regular / 32px / Line Height 26 / Margin Bottom 26px</p>
<% end %>

<%= example 'Titre 4' do %>
  <h4 class="k-TitleH4Dosis">Fingerstache nesciunt lomo nostrud hoodie</h4>
  <p class="k-ParagraphXl">Dosis / Regular / 20px / Line Height 26 / Margin Bottom 26px</p>
<% end %>

<%= example 'Paragraphe' do %>
  <p class="k-ParagraphXlLight">Bushwick Schlitz. Est Shoreditch small batch, dolor Schlitz sapiente twee stumptown ex. Duis Carles pickled, cornhole Thundercats McSweeney's minim PBR vegan Tumblr irony. Kogi eu Thundercats, sed scenester before they sold out et aesthetic. Elit cred Vice ethical pickled sartorial. Stumptown roof party freegan High Life vero, ea sed minim meggings.</p>
  <p class="k-ParagraphXl">Source sans Pro / Light / 20px / Line Height 26 / Margin Bottom 26px</p>
<% end %>
