<%= example "1. Text input with button" do %>
  <form class="k-TextInputWithButton" role="button">
    <input class="k-TextInput k-TextInputWithButton__input"
             type="text"
             name=""
             placeholder="Lorem ipsum dolor sit amet" />

    <input class="k-TextInputWithButton__submit"
           type="submit"
           value="Button" />
  </form>
<% end %>


<%= example "1. Text input with button - Small" do %>
  <form class="k-TextInputWithButton" role="button">
    <input class="k-TextInput k-TextInputWithButton__input k-TextInput--tiny"
             type="text"
             name=""
             placeholder="Item" />

    <input class="k-TextInputWithButton__submit"
            type="submit"
            value="Button" />
  </form>
<% end %>

<%= example "2. Text input with button - Text" do %>
  <form class="k-TextInputWithButton" role="button">
    <input class="k-TextInput k-TextInputWithButton__input"
            type="text"
            name=""
            placeholder="Lorem ipsum dolor sit amet" />

    <input class="k-TextInputWithButton__submit"
            type="submit"
            value="Button" />
  </form>
<% end %>

<%= example "3. Text input with button - Valid" do %>
  <form class="k-TextInputWithButton">
    <input class="k-TextInput is-valid k-TextInputWithButton__input"
             type="text"
             name=""
             placeholder="Lorem ipsum dolor sit amet" />

    <input class="k-TextInputWithButton__submit is-valid"
            type="submit"
            value="Button" />
  </form>
<% end %>

<%= example "4. Text input with button - Error" do %>
  <form class="k-TextInputWithButton">
    <input class="k-TextInput is-error k-TextInputWithButton__input"
             type="text"
             name=""
             placeholder="Lorem ipsum dolor sit amet" />

    <input class="k-TextInputWithButton__submit is-error"
            type="submit"
            value="Button" />
  </form>
<% end %>
