<%= example 'Header' do %>

  <header id="header" class="k-Header" role="banner">

    <div class="k-Header__container">
      <div class="k-Header__row">

        <div class="k-Header__items">

          <div class="k-Header__item k-Header__item--fixedSize"
               id="k-Header__platformSwitchDropdown">
            <%= react_component('KarlUnloggedHeaderPlatformSwitch') %>
          </div>

          <p class="k-Header__item k-Header__item--fixedSize">
            <img src="https://placeholdit.imgix.net/~text?txt=LOGO&amp;w=180&amp;h=40"
                 alt="LOGO" />
          </p>

          <nav class="k-Header__item k-Header__nav">
            <ul class="k-HorizontalNav" role="menubar">
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 1
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 2
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 3
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item is-selected"
                   href="#">
                  Nav link 4
                </a>
              </li>
            </ul>
          </nav>

        </div>

        <div class="k-Header__items">

          <div class="k-Header__item">
            <button class="k-ButtonIcon k-ButtonIcon--hydrogen">
              <svg class="k-ButtonIcon__svg" viewBox="-0.7 -0.7 18 18"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="7" cy="7" r="7" stroke-width="1.1"
                  class="k-ButtonIcon__svg__stroke" fill="none" />
                <path d="M13 11 L17 15 L15.5 16.5 L11.5 12.7z" />
              </svg>
            </button>
          </div>

          <div class="k-Header__item k-Header__signup">
            <a class="k-Button k-Button--hydrogen k-Header__button" href="#">S'identifier</a>
          </div>

        </div>

      </div>
    </div>

  </header>

  <p>
    <a data-toggle-element="#header"
       data-toggle-class="is-fixed"
       href="#">Toggle fixed version</a>
  </p>
<% end %>

<%= example 'Header with search input' do %>

  <header id="header-search" class="k-Header" role="banner">

    <div class="k-Header__container">
      <div class="k-Header__row">

        <div class="k-Header__items">

          <div class="k-Header__item" id="k-Header__platformSwitchDropdown">
            <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
          </div>

          <p class="k-Header__item">
            <img src="https://placeholdit.imgix.net/~text?txt=LOGO&amp;w=180&amp;h=40"
                 alt="LOGO" />
          </p>

          <nav class="k-Header__item k-Header__nav">
            <ul class="k-HorizontalNav" role="menubar">
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 1
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 2
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 3
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item is-selected"
                   href="#">
                  Nav link 4
                </a>
              </li>
            </ul>
          </nav>

        </div>

        <div class="k-Header__items">

          <div class="k-Header__item k-Header__search">

            <%= react_component('Search', props: {
                  inputId: 'q',
                  inputName: 'q',
                  inputPlaceholder: 'Rechercher…',
                  submitLabel: 'Search',
                  actionUrl: '#',
            }) %>
          </div>

          <div class="k-Header__item k-Header__signup">
            <a class="k-Button k-Button--hydrogen k-Header__button" href="#">S'identifier</a>
          </div>

        </div>
      </div>

    </div>

  </header>

  <p>
    <a data-toggle-element="#header-search"
       data-toggle-class="is-fixed"
       href="#">Toggle fixed version</a>
  </p>

<% end %>

<%= example 'Header when logged' do %>

  <header id="header-logged" class="k-Header" role="banner">

    <div class="k-Header__container">
      <div class="k-Header__row">

        <div class="k-Header__items">

          <div class="k-Header__item" id="k-Header__platformSwitchDropdown__example">
            <%= react_component('KarlLoggedHeaderPlatformSwitch') %>
          </div>

          <p class="k-Header__item">
            <img src="https://placeholdit.imgix.net/~text?txt=LOGO&amp;w=180&amp;h=40"
                 alt="LOGO" />
          </p>

          <nav class="k-Header__item k-Header__nav">
            <ul class="k-HorizontalNav" role="menubar">
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 1
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 2
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item" href="#">
                  Nav link 3
                </a>
              </li>
              <li class="k-HorizontalNav__element" role="menuitem">
                <a class="k-HorizontalNav__item k-Header__nav__item is-selected"
                   href="#">
                  Nav link 4
                </a>
              </li>
            </ul>
          </nav>

        </div>

        <div class="k-Header__items k-Header__items--pull-end">

          <div class="k-Header__item">
            <button class="k-ButtonIcon k-ButtonIcon--hydrogen">
              <svg class="k-ButtonIcon__svg" viewBox="-0.7 -0.7 18 18"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="7" cy="7" r="7" stroke-width="1.1"
                  class="k-ButtonIcon__svg__stroke" fill="none" />
                <path d="M13 11 L17 15 L15.5 16.5 L11.5 12.7z" />
              </svg>
            </button>
          </div>

          <div id="k-UserMenuDropdownLogged" class="k-Header__item">
            <%= react_component('KarlLoggedHeaderUserMenu') %>
          </div>

        </div>

      </div>
    </div>

  </header>

  <p>
    <a data-toggle-element="#header-logged"
       data-toggle-class="is-fixed"
       href="#">Toggle fixed version</a>
  </p>
<% end %>
