<% colors = [
  [
    {
      name: 'Primary 1',
      hexa: '#54BAEB',
      rgba: 'rgba(84, 186, 235, 1)',
    },
    {
      name: 'Primary 2',
      hexa: '#45ABDC',
      rgba: 'rgba(69, 171, 220, 1)',
    },
    {
      name: 'Primary 3',
      hexa: '#369CCD',
      rgba: 'rgba(54, 156, 205, 1)',
    },
    {
      name: 'Primary 4',
      hexa: '#CBE8F9',
      rgba: 'rgba(203, 232, 249, 1)',
    },
  ],
  [
    {
      name: 'Secondary 1',
      hexa: '#68FFA0',
      rgba: 'rgba(104, 255, 160, 1)',
    },
    {
      name: 'Secondary 2',
      hexa: '#59F091',
      rgba: 'rgba(89, 240, 145, 1)',
    },
    {
      name: 'Secondary 3',
      hexa: '#4AE182',
      rgba: 'rgba(74, 225, 130, 1)',
    },
    {
      name: 'Secondary 4',
      hexa: '#D4FFE4',
      rgba: 'rgba(212, 255, 228, 1)',
    },
  ],
  [
    {
      name: 'Third 1',
      hexa: '#FF0000',
      rgba: 'rgba(255, 0, 0, 1)',
    },
    {
      name: 'Third 2',
      hexa: '#F00000',
      rgba: 'rgba(240, 0, 0, 1)',
    },
    {
      name: 'Third 3',
      hexa: '#E10000',
      rgba: 'rgba(255, 0, 0, 1)',
    },
    {
      name: 'Third 4',
      hexa: '#FFD4D4',
      rgba: 'rgba(255, 212, 212, 1)',
    },
  ],
  [
    {
      name: 'Black',
      hexa: '#333333',
      rgba: 'rgba(51, 51, 51, 1)',
    },
    {
      name: 'Grey',
      hexa: '#B8B8B8',
      rgba: 'rgba(184, 184, 184, 1)',
    },
    {
      name: 'BlueGrey',
      hexa: '#F7F9FA',
      rgba: 'rgba(247, 249, 250, 1)',
    },
    {
      name: 'White',
      hexa: '#FFFFFF',
      rgba: 'rgba(255, 255, 255, 1)',
    },
  ]
] %>


<%= example do %>

  <div class="karl-Colors">
    <% colors.each do |type_color| %>
      <div class="karl-Colors__content">

        <% type_color.each do |color| %>
          <div class="karl-Colors__card karl-Colors__cardBackground"
               style="background-color: <%= color[:hexa] %>">
            <div class="karl-Colors__cardDescription">
              <p class="karl-Colors__cardParagraph k-ParagraphXsSemiBold"><%= color[:name] %></p>
              <p class="karl-Colors__cardParagraph k-ParagraphXs"><%= color[:hexa] %></p>
              <p class="karl-Colors__cardParagraph k-ParagraphXs"><%= color[:rgba] %></p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>

  <div class="k-u-clearfix"></div>

<% end %>
