<div class="karl-Example__column">
  <%= example "Tooltip Icon" do %>
    <%= react_component('ButtonTooltipIcon') %>
  <% end %>

  <%= example "Tooltip top" do %>
    <%= react_component('KarlLineWithTooltip', props: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Aenean commodo ligula eget dolor, enean massa. Cum sociis
                      natoque penatibus et magnis dis parturien.',
        id: 'tooltip-top',
        place: 'top',
      }
    ) %>
  <% end %>

  <%= example "Tooltip right" do %>
    <%= react_component('KarlLineWithTooltip', props: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Aenean commodo ligula eget dolor, enean massa. Cum sociis
                      natoque penatibus et magnis dis parturien.',
        id: 'tooltip-right',
        place: 'right',
      }
    ) %>
  <% end %>

  <%= example "Tooltip bottom" do %>
    <%= react_component('KarlLineWithTooltip', props: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Aenean commodo ligula eget dolor, enean massa. Cum sociis
                      natoque penatibus et magnis dis parturien.',
        id: 'tooltip-bottom',
        place: 'bottom',
      }
    ) %>
  <% end %>

  <%= example "Tooltip left" do %>
    <%= react_component('KarlLineWithTooltip', props: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Aenean commodo ligula eget dolor, enean massa. Cum sociis
                      natoque penatibus et magnis dis parturien.',
        id: 'tooltip-left',
        place: 'left',
      }
    ) %>
  <% end %>

  <%=example "Static tooltip" do %>
    <%= react_component('KarlStaticTooltip', props: {
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Aenean commodo ligula eget dolor, enean massa. Cum sociis
                      natoque penatibus et magnis dis parturien.',
        place: 'top',
        tooltipModifier: 'lithium',
      }
    ) %>
  <% end %>
</div>
