<div class="k-Grid">
  <!-- DEPRECATED -->
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tooltip Icon' do %>
      <%= react_component('ButtonQuestionMarkIcon') %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tooltip top' do %>
      <%= react_component('KarlLineWithTooltip', props: {
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     Aenean commodo ligula eget dolor, enean massa. Cum sociis
                     natoque penatibus et magnis dis parturien.',
          id: 'tooltip-top',
          place: 'top',
        }
      ) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tooltip right' do %>
      <%= react_component('KarlLineWithTooltip', props: {
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     Aenean commodo ligula eget dolor, enean massa. Cum sociis
                     natoque penatibus et magnis dis parturien.',
          id: 'tooltip-right',
          place: 'right',
        }
      ) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tooltip bottom' do %>
      <%= react_component('KarlLineWithTooltip', props: {
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     Aenean commodo ligula eget dolor, enean massa. Cum sociis
                     natoque penatibus et magnis dis parturien.',
          id: 'tooltip-bottom',
          place: 'bottom',
        }
      ) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tooltip left' do %>
      <%= react_component('KarlLineWithTooltip', props: {
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     Aenean commodo ligula eget dolor, enean massa. Cum sociis
                     natoque penatibus et magnis dis parturien.',
          id: 'tooltip-left',
          place: 'left',
        }
      ) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'New Tooltip Icon' do %>
      <%= react_component('QuestionMarkWithTooltip', props: {
          children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     Aenean commodo ligula eget dolor, enean massa. Cum sociis
                     natoque penatibus et magnis dis parturien.',
          id: 'tooltip-new',
        }
      ) %>
    <% end %>
  </div>
</div>
