<div class="karl-Example__column">
  <%= example "Hydrogen icon button" do %>
    <%= react_component('KarlButtonIconHeart') %>
  <% end %>

  <%= example "Helium icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        modifier: 'helium',
        }) %>
  <% end %>

  <%= example "Lithium icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        modifier: 'lithium',
        }) %>
  <% end %>

  <%= example "Beryllium icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        modifier: 'beryllium',
        }) %>
  <% end %>

  <%= example "Boron icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        modifier: 'boron',
        }) %>
  <% end %>

  <%= example "Carbon icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        modifier: 'carbon',
        }) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Disabled icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        disabled: true,
        }) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Micro icon button" do %>
    <%= react_component('KarlButtonIconMicro', props: {
        size: 'micro',
        }) %>
  <% end %>

  <%= example "Tiny icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        size: 'tiny',
        }) %>
  <% end %>

  <%= example "Big icon button" do %>
    <%= react_component('KarlButtonIconHeart', props: {
        size: 'big',
        }) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Social icon buttons" do %>
    <%= react_component('KarlButtonIconFacebookIcon', props: {
        modifier: 'facebook',
        }) %>

    <%= react_component('KarlButtonIconTwitterIcon', props: {
        modifier: 'twitter',
        }) %>

    <%= react_component('KarlButtonIconLinkedinIcon', props: {
        modifier: 'linkedin',
        }) %>
  <% end %>
</div>
