<div class="karl-Example__column">
  <%= example 'Hydrogen button' do %>
    <%= react_component('Button') %>
  <% end %>

  <%= example "Helium button" do %>
    <%= react_component('Button', props: {
        name: 'helium',
      }
    ) %>
  <% end %>

  <%= example "Lithium button" do %>
    <%= react_component('Button', props: {
        name: 'lithium',
      }
    ) %>
  <% end %>

  <%= example "Beryllium button" do %>
    <%= react_component('Button', props: {
        name: 'beryllium',
      }
    ) %>
  <% end %>

  <%= example "Boron button" do %>
    <%= react_component('Button', props: {
        name: 'boron',
      }
    ) %>
  <% end %>

  <%= example "Carbon button" do %>
    <%= react_component('Button', props: {
        name: 'carbon',
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Disabled button" do %>
    <%= react_component('Button', props: {
        disabled: true,
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Tiny button" do %>
    <%= react_component('Button', props: {
        size: 'tiny',
      }
    ) %>
  <% end %>

  <%= example "Big button" do %>
    <%= react_component('Button', props: {
        size: 'big',
      }
    ) %>
  <% end %>
</div>
