<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example "button tag" do %>
          <%= react_component "ButtonImage", props: {
            img: {
              src: "https://placehold.it/40x40/4a84ff/4a84ff",
            } 
          } %>
        <% end %>
      </div>
      
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example "button tag big" do %>
          <%= react_component "ButtonImage", props: {
            big: true,
            img: {
              src: "https://placehold.it/40x40/4a84ff/4a84ff",
            } 
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example "button tag" do %>
          <%= react_component "ButtonImage", props: {
            img: {
              src: "https://placehold.it/40x40/4a84ff/4a84ff",
            } 
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">        
        <%= example "a tag" do %>
          <%= react_component "ButtonImage", props: {
            tag: "a",
            href: "#",
            img: {
              src: "https://placehold.it/40x40/4a84ff/4a84ff",
            }
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example "span tag" do %>
          <%= react_component "ButtonImage", props: {
            tag: "span",
            img: {
              src: "https://placehold.it/40x40/4a84ff/4a84ff",
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
        <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
          <%= example "button tag tiny" do %>
            <%= react_component "ButtonImage", props: {
              tiny: true,
              img: {
                src: "https://placehold.it/40x40/4a84ff/4a84ff",
              }
            } %>
          <% end %>
      </div>
    </div>
  </div>
</div>