<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage k-ButtonImage--tiny">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/40/40"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge k-Badge">4</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/41/41"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--topLeft
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/42/42"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/43/43"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--bottomRight
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/44/44"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--bottomLeft
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-ButtonImage k-ButtonImage--big">
                <img class="k-ButtonImage__img"
                     src="https://placekitten.com/g/45/45"
                     width="40"
                     height="40"
                     alt="" />
              </span>

              <span class="k-ButtonWithBadge__badge k-Badge">424</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example do %>
          <p class="k-u-align-center">
            <button class="k-ButtonWithBadge">
              <span class="k-Button k-Button--hydrogen">
                Button
              </span>

              <span class="k-ButtonWithBadge__badge k-Badge">424</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
