<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component 'Button', props: {
              size: 'tiny',
              children: 'Button',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component 'Button', props: {
            children: 'Button',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Big' do %>
          <%= react_component 'Button', props: {
            size: 'big',
            children: 'Button',
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Hydrogen' do %>
          <%= react_component 'Button', props: {
            children: 'Button'
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Helium' do %>
          <%= react_component 'Button', props: {
            modifier: 'helium',
            children: 'Button',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Lithium' do %>
          <%= react_component 'Button', props: {
            modifier: 'lithium',
            children: 'Button',
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Beryllium' do %>
          <%= react_component 'Button', props: {
            modifier: 'beryllium',
            children: 'Button',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Carbon' do %>
          <%= react_component 'Button', props: {
            modifier: 'carbon',
            children: 'Button',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'Azote' do %>
          <%= react_component 'Button', props: {
            modifier: 'azote',
            children: 'Button',
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <%= example 'Disabled' do %>
      <%= react_component 'Button', props: {
        disabled: true,
        children: 'Button'
      } %>
    <% end %>
  </div>
</div>
