<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage k-ButtonImage--tiny">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge k-Badge">4</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge
                   k-ButtonWithBadge__badge--topLeft
                   k-Badge">42</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge k-Badge">42</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge
                   k-ButtonWithBadge__badge--bottomRight
                   k-Badge">42</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge
                   k-ButtonWithBadge__badge--bottomLeft
                   k-Badge">42</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-ButtonImage k-ButtonImage--big">
        <img class="k-ButtonImage__img"
             src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </span>

      <span class="k-ButtonWithBadge__badge k-Badge">424</span>
    </button>
  </p>
<% end %>

<%= example do %>
  <p class="k-u-align-center">
    <button class="k-ButtonWithBadge">
      <span class="k-Button k-Button--hydrogen">
        Button
      </span>

      <span class="k-ButtonWithBadge__badge k-Badge">424</span>
    </button>
  </p>
<% end %>
