<div class="karl-Example__column">
  <%= example 'Hydrogen button' do %>
    <%= react_component('ButtonHydrogen', props: {
        nameClass: 'k-Button--hydrogen',
        text: 'Button'
      }
    ) %>
  <% end %>

  <%= example "Helium button" do %>
    <%= react_component('ButtonHelium', props: {
        nameClass: 'k-Button--helium',
        text: 'Button'
      }
    ) %>
  <% end %>

  <%= example "Lithium button" do %>
    <%= react_component('ButtonLithium', props: {
        nameClass: 'k-Button--lithium',
        text: 'Button'
      }
    ) %>
  <% end %>

  <%= example "Beryllium button" do %>
    <%= react_component('ButtonBeryllium', props: {
        nameClass: 'k-Button--beryllium',
        text: 'Button'
      }
    ) %>
  <% end %>

  <%= example "Boron button" do %>
    <%= react_component('ButtonBoron', props: {
        nameClass: 'k-Button--boron',
        text: 'Button'
      }
    ) %>
  <% end %>

  <%= example "Carbon button" do %>
    <%= react_component('ButtonCarbon', props: {
        nameClass: 'k-Button--carbon',
        text: 'Button'
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Disabled button" do %>
    <%= react_component('ButtonHydrogen', props: {
        nameClass: 'k-Button--hydrogen',
        text: 'Button'
        disabled: 'true'
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Tiny button" do %>
    <%= react_component('ButtonHydrogen', props: {
        nameClass: 'k-Button--hydrogen',
        text: 'Button'
        size: 'tiny'
      }
    ) %>
  <% end %>

  <%= example "Big button" do %>
    <%= react_component('ButtonHydrogen', props: {
        nameClass: 'k-Button--hydrogen',
        text: 'Button'
        size: 'big'
      }
    ) %>
  <% end %>
</div>
