<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On top right of tiny image button' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage k-ButtonImage--tiny">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge k-Badge">4</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On top left' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--topLeft
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On top right' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On bottom right' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--bottomRight
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On bottom left' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>
              <span class="k-ButtonWithBadge__badge
                           k-ButtonWithBadge__badge--bottomLeft
                           k-Badge">42</span>
            </button>
          </p>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On top right' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-ButtonImage k-ButtonImage--big">
                <img class="k-ButtonImage__img"
                     src="https://placehold.it/40x40/caf4fe/caf4fe"
                     width="40"
                     height="40"
                     alt="" />
              </span>

              <span class="k-ButtonWithBadge__badge k-Badge">424</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On top right' do %>
          <p class="k-u-align-center">
            <button class="karl-u-align-center@xs-down k-ButtonWithBadge">
              <span class="k-Button k-Button--hydrogen">
                Button
              </span>

              <span class="k-ButtonWithBadge__badge k-Badge">424</span>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
