<div class="karl-Example__column">
  <%= example "Hydrogen button with icon and words" do %>
    <%= react_component('ButtonIconWords') %>
  <% end %>


  <%= example "Helium button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        name: 'helium',
      }
    ) %>
  <% end %>

  <%= example "Lithium button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        name: 'lithium',
      }
    ) %>
  <% end %>

  <%= example "Beryllium button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        name: 'beryllium',
      }
    ) %>
  <% end %>

  <%= example "Boron button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        name: 'boron',
      }
    ) %>
  <% end %>

  <%= example "Carbon button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        name: 'carbon',
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Disabled button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        disabled: true,
      }
    ) %>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Tiny button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        size: 'tiny',
        text: 'btn',
      }
    ) %>
  <% end %>

  <%= example "Tiny button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        size: 'tiny',
        text: 'btn',
        iconOnRight: true,
      }
    ) %>
  <% end %>

  <%= example "Big button with icon and words" do %>
    <%= react_component('ButtonIconWords', props: {
        size: 'big',
      }
    ) %>
  <% end %>
</div>
