<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Nano' do %>
          <%= react_component('KarlButtonIconNano', props: {
              size: 'nano',
          }) %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Micro' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              size: 'micro',
          }) %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              size: 'tiny',
          }) %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component('KarlButtonIconHeart') %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Big' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              size: 'big',
          }) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Hydrogen' do %>
          <%= react_component('KarlButtonIconHeart') %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Helium' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              modifier: 'helium',
          }) %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Lithium' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              modifier: 'lithium',
          }) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Beryllium' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              modifier: 'beryllium',
          }) %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Carbon' do %>
          <%= react_component('KarlButtonIconHeart', props: {
              modifier: 'carbon',
          }) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <%= example 'Disabled' do %>
      <%= react_component('KarlButtonIconHeart', props: {
          disabled: true,
      }) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@s k-Grid__col--12@l">
        <%= example 'Social' do %>
          <%= react_component 'FacebookButtonIcon', props: {
            className: 'k-u-margin-bottom-single',
          } %>

          <%= react_component 'TwitterButtonIcon', props: {
            className: 'k-u-margin-bottom-single',
          } %>

          <%= react_component 'LinkedinButtonIcon', props: {
            className: 'k-u-margin-bottom-single',
          } %>

          <%= react_component 'InstagramButtonIcon', props: {
            className: 'k-u-margin-bottom-single',
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
