<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              size: 'tiny',
            } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Tiny with icon on the right' do %>
          <%= react_component 'KarlButtonIconWordsRight', props: {
              size: 'tiny',
            } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component 'KarlButtonIconWordsLeft' %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Big' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              size: 'big',
            } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Hydrogen' do %>
          <%= react_component 'KarlButtonIconWordsLeft' %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Helium' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              modifier: 'helium',
            } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Lithium' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              modifier: 'lithium',
            } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Beryllium' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              modifier: 'beryllium',
            } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Carbon' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              modifier: 'carbon',
            } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'Disabled' do %>
          <%= react_component 'KarlButtonIconWordsLeft', props: {
              disabled: true,
            } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
