<div class="Karl-Example__column">
  <%= example 'Payment button' do %>
    <%= react_component('KarlPaymentButton') %>
  <% end %>

  <%= example 'Multiple payment button' do %>
    <%= react_component('KarlPaymentButton') %>
    <%= react_component('KarlPaymentButton') %>
    <%= react_component('KarlPaymentButton') %>
  <% end %>
</div>



