<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With micro radius' do %>
          <%= react_component 'KarlCard', props: {
              rounded: 'micro',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With tiny radius' do %>
          <%= react_component 'KarlCard', props: {
              rounded: 'tiny',
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With normal radius' do %>
          <%= react_component 'KarlCard', props: {
              rounded: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With micro radius and border' do %>
          <%= react_component 'KarlCard', props: {
              rounded: 'micro',
              withBorder: true,
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With tiny radius and border' do %>
          <%= react_component 'KarlCard', props: {
              rounded: 'tiny',
              withBorder: true,
          } %>
        <% end %>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@s k-Grid__col--12@l">
        <%= example 'With normal radius and border' do %>
          <%= react_component 'KarlCard', props: {
              rounded: true,
              withBorder: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
