<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@">
    <%= example 'Project similar card with image' do %>
      <%= react_component 'KarlSimilarProjectsCard' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@">
    <%= example 'Project similar card with tags and infos' do %>
      <%= react_component 'KarlSimilarProjectsWithInfosCard' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@">
    <%= example 'Project similar card with loader' do %>
      <%= react_component 'KarlProjectSimilarLoader' %>
    <% end %>
  </div>
</div>
