<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Project card' do %>
      <%= react_component 'ProjectCard', props: {
        progress: 42,
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
        scoreValue: 'A',
        coloredInfosValues: true,
        tagLists: [
          {
            items: [
              { key: 'tag-1', item: 'Tag 1' },
              { key: 'tag-2', item: 'Tag 2' },
            ]
          },
          {
            icon: 'InstrumentTagIcon',
            items: [
              { key: 'tag-3', item: 'Tag 3' },
              { key: 'tag-4', item: 'Tag 4' },
            ]
          }
        ]
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Project card with reversed infos' do %>
      <%= react_component 'ProjectCard', props: {
        progress: 42,
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
        scoreValue: 'A',
        coloredInfosValues: true,
        tagLists: [
          { key: 'tag-5', item: 'Tag 5' },
          { key: 'tag-6', item: 'Tag 6' },
        ],
        info1: { value: 'xx', text: 'Info 1', reverse: true },
        info2: { value: 'xx', text: 'Info 2', reverse: true },
        info3: { value: 'xx', text: 'Info 3', reverse: true },
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Clickable project card' do %>
      <%= react_component 'ProjectCard', props: {
        linkHref: '#',
        progress: 42,
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
        tooltipText: 'Lorem ipsum…',
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Project card with status' do %>
      <%= react_component 'ProjectCard', props: {
        progress: 42,
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
        statusContent: 'Status',
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Project card without progress' do %>
      <%= react_component 'ProjectCard', props: {
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Disabled project card' do %>
      <%= react_component 'ProjectCard', props: {
        progress: 42,
        ownerAvatarSrc: 'https://placehold.it/400x200/4a84ff/4a84ff',
        imageSrc: 'https://placehold.it/500x500/4a84ff/4a84ff',
        disabled: true,
      } %>
    <% end %>
  </div>
</div>
