<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--8">
    <%= example 'Reward card big image' do %>
      <%= react_component 'RewardCard', props: {
        titleMount: 'Pour 15€',
        titleDescription: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
        textDescription: 'In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.',

        titleContributors: 'Contributeurs',
        titleSmallContributors: 'Contributeurs : ',
        valueContributors: '35',
        titleDelivery: 'Livraison',
        titleSmallDelivery: 'Livraison : ',
        valueDelivery: 'Janvier 2018',
        titleAvailability: 'Disponibilité',
        titleSmallAvailability: 'Disponibilité : ',
        valueAvailability: '200',

        button: 'Choisir',

        myContribution: 'Vous avez contribué à ce projet',
        manageContribution: 'Gérer ma contribution',
        href: '#',
        imageSrc: 'https://placehold.it/40x40/caf4fe/caf4fe',
      } %>
    <% end %>
  </div>

    <div class="k-Grid__col k-Grid__col--8">
    <%= example 'Clickable reward card big image' do %>
      <%= react_component 'RewardCard', props: {
        titleMount: 'Pour 15€',
        titleDescription: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
        textDescription: 'In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.',

        titleContributors: 'Contributeurs',
        valueContributors: '35',
        titleDelivery: 'Livraison',
        valueDelivery: 'Janvier 2018',
        titleAvailability: 'Disponibilité',
        valueAvailability: '200',

        button: 'Choisir',

        myContribution: 'Vous avez contribué à ce projet',
        manageContribution: 'Gérer ma contribution',

        imageSrc: 'https://placehold.it/40x40/caf4fe/caf4fe',
        href: '#',
        isDisabled: true,
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--8">
    <%= example 'Completed reward card big image' do %>
      <%= react_component 'RewardCard', props: {
        titleMount: 'Pour 15€',
        titleDescription: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
        textDescription: 'In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.',

        titleContributors: 'Contributeurs',
        valueContributors: '35',
        titleDelivery: 'Livraison',
        valueDelivery: 'Janvier 2018',
        titleAvailability: 'Disponibilité',
        valueAvailability: '200',

        myContribution: 'Vous avez contribué à ce projet',
        manageContribution: 'Gérer ma contribution',

        imageSrc: 'https://placehold.it/40x40/caf4fe/caf4fe',
        href: '#',
      } %>
    <% end %>
  </div>
</div>
