<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--3@l">
    <%= example 'Default' do %>
      <%= react_component 'BulletList', props: {
        items: [
          { key: '1', item: 'Dis Manibus' },
          { key: '2', item: 'Calpurnia Felicla' },
          { key: '3', item: 'Germulio coniugi' },
        ]
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--3@l">
    <%= example 'Large items' do %>
      <%= react_component 'BulletList', props: {
        large: true,
        items: [
          { key: '1', item: 'Dis Manibus' },
          { key: '2', item: 'Calpurnia Felicla' },
          { key: '3', item: 'Germulio coniugi' },
        ]
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--3@l">
    <%= example 'Big items' do %>
      <%= react_component 'BulletList', props: {
        big: true,
        items: [
          { key: '1', item: 'Dis Manibus' },
          { key: '2', item: 'Calpurnia Felicla' },
          { key: '3', item: 'Germulio coniugi' },
        ]
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--3@l">
    <%= example 'Huge items' do %>
      <%= react_component 'BulletList', props: {
        huge: true,
        items: [
          { key: '1', item: 'Dis Manibus' },
          { key: '2', item: 'Calpurnia Felicla' },
          { key: '3', item: 'Germulio coniugi' },
        ]
      } %>
    <% end %>
  </div>
</div>
