<div class="karl-Example__column">
  <%= example "Default button with icon and words" do %>
    <button class="k-Button
                   k-Button--default
                   k-ButtonIconWords
                   k-ButtonIconWords--default">
      <span class="k-ButtonIcon">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>

  <%= example "Primary button with icon and words" do %>
    <button class="k-Button
                   k-Button--primary
                   k-ButtonIconWords">
      <span class="k-ButtonIcon k-ButtonIcon--primary">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>

  <%= example "Secondary button with icon and words" do %>
    <button class="k-Button
                   k-Button--secondary
                   k-ButtonIconWords">
      <span class="k-ButtonIcon k-ButtonIcon--secondary">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>

  <%= example "Secondary button with icon and words on white background" do %>
    <button class="k-Button
                   k-Button--secondaryOnWhite
                   k-ButtonIconWords">
      <span class="k-ButtonIcon k-ButtonIcon--secondaryOnWhite">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Disabled button with icon and words" do %>
    <button class="k-Button
                   k-Button--default
                   k-ButtonIconWords"
                   disabled>
      <span class="k-ButtonIcon k-ButtonIcon--default is-disabled">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Tiny button with icon and words" do %>
    <button class="k-Button
                   k-Button--default
                   k-ButtonIconWords
                   k-ButtonIconWords--default
                   k-ButtonIconWords--tiny">
      <span class="k-ButtonIcon k-ButtonIcon--default k-ButtonIcon--tiny">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Btn
    </button>
  <% end %>

  <%= example "Tiny button with icon and words" do %>
    <button class="k-Button
                   k-Button--default
                   k-ButtonIconWords
                   k-ButtonIconWords--default
                   k-ButtonIconWords--tiny
                   k-ButtonIconWords--iconRight">
      Btn
      <span class="k-ButtonIcon k-ButtonIcon--default k-ButtonIcon--tiny">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
    </button>
  <% end %>

  <%= example "Big button with icon and words" do %>
    <button class="k-Button
                   k-Button--default
                   k-ButtonIconWords
                   k-ButtonIconWords--default
                   k-ButtonIconWords--big">
      <span class="k-ButtonIcon k-ButtonIcon--default k-ButtonIcon--big">
        <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
              xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
              5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
              5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
              1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
              7 2.927z"/></svg>
      </span>
      Button
    </button>
  <% end %>
</div>
