<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example '12 columns' do %>
      <%= react_component 'KarlGridTwelveColumns' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'grid in grid' do %>
      <%= react_component 'KarlGridInGrid' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example '2, 4 and 6 columns starting from small' do %>
      <%= react_component 'KarlGridSmall' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example '6 and 4 columns with offset starting from large' do %>
      <%= react_component 'KarlGridWithOffset' %>
    <% end %>
  </div>
</div>
