<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row" do %>
      <div class="k-Row">
        <div class="k-Row__content">
          <p>
            Destroy couch. Curl into a furry donut white cat sleeps on a black
            shirt stare at ceiling have secret plans. Pee in the shoe under the bed
            leave dead animals as gifts why must they do that scamper my left donut
            is missing, as is my right chase ball of string.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row padded" do %>
      <div class="k-Row k-Row--padded">
        <div class="k-Row__content">
          <p>
            Slap owner's face at 5am until human fills food dish you call this cat
            food? walk on car leaving trail of paw prints on hood and windshield,
            chew on cable meowzer! Hide from vacuum cleaner destroy couch as revenge
            playing with balls of wool and where is my slave?
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row centered" do %>
      <div class="k-Row k-Row--centered">
        <div class="k-Row__content">
          <p>
            Lie on your belly and purr when you are asleep damn that dog or
            curl up and sleep on the freshly laundered towels but fall over dead
            (not really but gets sypathy) for if it fits, i sits. Chirp at birds
            knock over christmas tree roll on the floor purring your whiskers off
            eat grass, throw it back up but bleghbleghvomit my furball really tie
            the room together.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row light" do %>
      <div class="k-Row k-Row--light">
        <div class="k-Row__content">
          <p>
            Need to chase tail use lap as chair run in circles. The dog smells bad.
            Destroy couch as revenge human give me attention meow lick butt and make
            a weird face. Chase laser lick butt and make a weird face or purr while
            eating stand in front of the computer screen need to chase tail, so
            chase dog then run away. Gnaw the corn cob.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row dark" do %>
      <div class="k-Row k-Row--dark">
        <div class="k-Row__content">
          <p>
            Meow for food, then when human fills food dish, take a few bites of
            food and continue meowing sit on human, hide when guests come over,
            and sleep on dog bed, force dog to sleep on floor yet eat grass.
            Pelt around the house and up and down stairs chasing phantoms intently
            sniff hand. Meow all night having their mate disturbing sleeping humans.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "row light bottom border" do %>
      <div class="k-Row k-Row--lightBottomBorder">
        <div class="k-Row__content">
          <p>
            Slap owner's face at 5am until human fills food dish you call this cat
            food? walk on car leaving trail of paw prints on hood and windshield,
            chew on cable meowzer! Hide from vacuum cleaner destroy couch as revenge
            playing with balls of wool and where is my slave?
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
