<div class="k-u-margin-bottom-quadruple">
  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Primary',
          backgroundHexa: '#19bbff',
          nameHexa: '#fff',
        },
        {
          name: 'Semi Dark Primary',
          backgroundHexa: '#0aacf0',
          nameHexa: '#fff',
        },
        {
          name: 'Dark Primary',
          backgroundHexa: '#009de1',
          nameHexa: '#fff',
        },
      ]
  } %>

  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Light Primary',
          backgroundHexa: '#bae8fd',
          nameHexa: '#19bbff',
        },
        {
          name: 'Extra Light Primary',
          backgroundHexa: '#e8f8ff',
          nameHexa: '#19bbff',
        },
        {
          name: 'Thin Primary',
          backgroundHexa: '#f3fbff',
          nameHexa: '#19bbff',
        },
      ]
  } %>
</div>

<div class="k-u-margin-bottom-quadruple">
  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Grey',
          backgroundHexa: '#d8d8d8',
          nameHexa: '#fff',
        },
        {
          name: 'Semi Dark Grey',
          backgroundHexa: '#b8b8b8',
          nameHexa: '#fff',
        },
        {
          name: 'Dark grey',
          backgroundHexa: '#222',
          nameHexa: '#fff',
        },
      ]
  } %>

  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Semi Light Grey',
          backgroundHexa: '#eee',
          nameHexa: '#222',
        },
        {
          name: 'Light Grey',
          backgroundHexa: '#f6f6f6',
          nameHexa: '#222',
        },
        {
          name: 'Extra Light Grey',
          backgroundHexa: '#fbfbfb',
          nameHexa: '#222',
        },
        {
          name: 'White',
          backgroundHexa: '#fff',
          nameHexa: '#222',
        },
      ]
  } %>
</div>

<div class="k-u-margin-bottom-quadruple">
  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Red',
          backgroundHexa: '#ff0046',
          nameHexa: '#fff',
        },
        {
          name: 'Semi Dark Red',
          backgroundHexa: '#f00037',
          nameHexa: '#fff',
        },
        {
          name: 'Dark Red',
          backgroundHexa: '#e10028',
          nameHexa: '#fff',
        },
      ]
  } %>

  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Semi Light Red',
          backgroundHexa: '#ffb2c7',
          nameHexa: '#ff0046',
        },
        {
          name: 'Light Red',
          backgroundHexa: '#ffe5ec',
          nameHexa: '#ff0046',
        },
        {
          name: 'Extra Light Red',
          backgroundHexa: '#fff2f6',
          nameHexa: '#ff0046',
        },
      ]
  } %>
</div>

<div class="k-u-margin-bottom-quadruple">
  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Green',
          backgroundHexa: '#61d079',
          nameHexa: '#fff',
        },
        {
          name: 'Semi Dark Green',
          backgroundHexa: '#43b25b',
          nameHexa: '#fff',
        },
        {
          name: 'Dark Green',
          backgroundHexa: '#25943d',
          nameHexa: '#fff',
        },
      ]
  } %>

  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Semi Light Green',
          backgroundHexa: '#cff0d6',
          nameHexa: '#61d079',
        },
        {
          name: 'Light Green',
          backgroundHexa: '#effaf1',
          nameHexa: '#61d079',
        },
        {
          name: 'Extra Light Green',
          backgroundHexa: '#f7fcf8',
          nameHexa: '#61d079',
        },
      ]
  } %>
</div>

<div class="k-u-margin-bottom-quadruple">
  <%= react_component 'KarlColors', props: {
      colors: [
        {
          name: 'Red Light MDC',
          backgroundHexa: '#ffebe0',
          nameHexa: '#fb0007',
        },
        {
          name: 'Red MDC',
          backgroundHexa: '#ff0000',
          nameHexa: '#fff',
        },
        {
          name: 'Blue Light MDC',
          backgroundHexa: '#caf4fe',
          nameHexa: '#158ad2',
        },
        {
          name: 'Blue MDC',
          backgroundHexa: '#0d9ddb',
          nameHexa: '#fff',
        },
      ]
  } %>
</div>
