<div class="karl-Example__column">
  <%= example "Progress" do %>
    <%= react_component('Progress', props: {
        value: 60
      }
    ) %>
  <% end %>

  <%= example "Progress" do %>
    <%= react_component('KarlRandomProgress') %>
  <% end %>

  <%= example "Tiny progress" do %>
    <%= react_component('Progress', props: {
        value: 40,
        tiny: true,
      }
    ) %>
  <% end %>
</div>
