<%= example 'Badge with one number' do %>
  <p>
    <%= react_component 'Badge', props: {
      children: '4',
    } %>
  </p>
<% end %>

<%= example 'Badge with two numbers' do %>
  <p>
    <%= react_component 'Badge', props: {
      children: '42',
    } %>
  </p>
<% end %>

<%= example 'Badge with more numbers' do %>
  <p>
    <%= react_component 'Badge', props: {
      children: '4242',
    } %>
  </p>
<% end %>
