<%= example "button tag" do %>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </button>
<% end %>

<%= example "a tag" do %>
  <a href="#" class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </a>
<% end %>

<%= example "span tag" do %>
  <span class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </span>
<% end %>

<%= example "button tag tiny" do %>
  <button class="k-ButtonImage k-ButtonImage--tiny" title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </button>
<% end %>

<%= example "button tag big" do %>
  <button class="k-ButtonImage k-ButtonImage--big" title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </button>
<% end %>

<%= example "button tag disabled" do %>
  <button class="k-ButtonImage k-ButtonImage--big"
          disabled="disabled"
          title="Profil">
    <img class="k-ButtonImage__img" src="https://placekitten.com/40/40" />
  </button>
<% end %>
