<%= example "button tag" do %>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/40/40"
         alt=""
         width="40"
         height="40" />
  </button>
<% end %>

<%= example "a tag" do %>
  <a href="#" class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/41/41"
         alt=""
         width="40"
         height="40" />
  </a>
<% end %>

<%= example "span tag" do %>
  <span class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/42/42"
         alt=""
         width="40"
         height="40" />
  </span>
<% end %>

<%= example "button tag tiny" do %>
  <button class="k-ButtonImage k-ButtonImage--tiny" title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/43/43"
         alt=""
         width="40"
         height="40" />
  </button>
<% end %>

<%= example "button tag big" do %>
  <button class="k-ButtonImage k-ButtonImage--big" title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/44/44"
         alt=""
         width="40"
         height="40" />
  </button>
<% end %>

<%= example "button tag disabled" do %>
  <button class="k-ButtonImage k-ButtonImage--big" disabled title="Profil">
    <img class="k-ButtonImage__img"
         src="https://placekitten.com/g/45/45"
         alt=""
         width="40"
         height="40" />
  </button>
<% end %>
