<%= example "button tag" do %>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>

<%= example "a tag" do %>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>

<%= example "span tag" do %>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>

<%= example "button tag tiny" do %>
  <button class="k-ButtonImage k-ButtonImage--tiny" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>

<%= example "button tag big" do %>
  <button class="k-ButtonImage k-ButtonImage--big" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>

<%= example "button tag disabled" do %>
  <button class="k-ButtonImage k-ButtonImage--big" disabled="disabled" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://camo.githubusercontent.com/6f1097ff73b17ffd4717be583f7c3569f062a7af/687474703a2f2f692e696d6775722e636f6d2f456247686644482e676966">
  </button>
<% end %>
