<%= example "Form info" do %>
  <div class="k-FormInfo">
    <label for="input-form-info" class="k-FormInfo__label">
      Nom du label
    </label>

    <%= react_component('TextInput', props: {
      id: 'input-form-info',
      placeholder: 'Lorem ipsum dolor sit amet',
    }) %>
  </div>
<% end %>

<%= example "Form info with textInput error" do %>
  <div class="k-FormInfo">
    <label for="input-form-info-error" class="k-FormInfo__label">
      Nom du label
    </label>

    <%= react_component('TextInput', props: {
      id: 'input-form-info-error',
      error: true,
      placeholder: 'Lorem ipsum dolor sit amet',
    }) %>

    <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
  </div>
<% end %>

<%= example "Form info with RadioButton error" do %>
  <div class="k-FormInfo">
    <label class="k-FormInfo__label">
      Nom du label
    </label>

    <%= react_component('RadioButton', props: {
      error: true,
      text: 'Error default',
    }) %>

    <%= react_component('RadioButton', props: {
      error: true,
      text: 'Error default checked',
      defaultChecked: true,
    }) %>

    <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
  </div>
<% end %>

<%= example "Form info with Checkbox error" do %>
  <div class="k-FormInfo">
    <label class="k-FormInfo__label">
      Nom du label
    </label>

    <%= react_component('Checkbox', props: {
      error: true,
      children: 'Error default',
    }) %>

    <%= react_component('Checkbox', props: {
      error: true,
      children: 'Error default checked',
      defaultChecked: true,
    }) %>

    <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
  </div>
<% end %>
