<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@m k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <div class="k-FormInfo">
            <label for="input-form-info" class="k-FormInfo__label">
              Label name
            </label>

            <%= react_component('TextInput', props: {
              id: 'input-form-info',
              placeholder: 'Lorem ipsum dolor sit amet',
            }) %>
          </div>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@m k-Grid__col--12@l">
        <%= example 'Text input error' do %>
          <div class="k-FormInfo">
            <label for="input-form-info-error" class="k-FormInfo__label">
              Label name
            </label>

            <%= react_component('TextInput', props: {
              id: 'input-form-info-error',
              error: true,
              placeholder: 'Lorem ipsum dolor sit amet',
            }) %>

            <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@m k-Grid__col--12@l">
        <%= example 'Radio button error' do %>
          <div class="k-FormInfo">
            <label class="k-FormInfo__label">
              Label name
            </label>

            <%= react_component('RadioButtonSet', props: {
              error: true,
              name: 'formInfoRadioButtonSetError',
              items: [{
                text: 'Error default',
                id: 'radioButtonSet1',
              }, {
                text: 'Error default checked',
                children: 'with children',
                defaultChecked: true,
                id: 'radioButtonSet2',
              }],
            }) %>

            <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
          </div>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@m k-Grid__col--12@l">
        <%= example 'Checkbox error' do %>
          <div class="k-FormInfo">
            <label class="k-FormInfo__label">
              Label name
            </label>

            <%= react_component('CheckboxSet', props: {
              error: true,
              name: 'checkboxSet[]',
              items: [{
                children: 'Error default',
                id: 'checkboxSet1',
              }, {
                children: 'Error default checked',
                defaultChecked: true,
                id: 'checkboxSet2',
              }],
            }) %>

            <p class="k-FormInfo__error">Cum sociis natoque penatibus et magnis</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
