<%= example "on label" do %>
  <%= react_component 'Label', props: {
    children: 'A label',
    focusId: 'age',
  } %>

  <input id="age" name="age" />
<% end %>

<%= example 'on span' do %>
  <%= react_component 'Label', props: {
    tag: 'span',
    children: 'Another label',
    focusId: false,
  } %>

  <label>
    <input type="radio" name="sex" value="m" id="form-label-span-m" />
    Male
  </label>

  <label>
    <input type="radio" name="sex" value="f" />
    Female
  </label>

  <label>
    <input type="radio" name="sex" value="n" />
    Non-binary
  </label>
<% end %>

<%= example 'on tiny label' do %>
  <%= react_component 'Label', props: {
    children: 'A label',
    focusId: 'age2',
    size: 'tiny',
  } %>

  <input id="age2" name="age2" />
<% end %>
