<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component 'SelectWithState', props: {
              id: 'select-with-label',
              options: [
                { value: 'de', label: 'Deutsch' },
                { value: 'en', label: 'English' },
                { value: 'es', label: 'Español' },
              ],
              tiny: true,
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component 'SelectWithState', props: {
              value: 'fr',
              options: [
                { value: 'de', label: 'Deutsch' },
                { value: 'en', label: 'English' },
                { value: 'es', label: 'Español' },
                { value: 'fr', label: 'Français' },
                { value: 'it', label: 'Italiano' },
                { value: 'nl', label: 'Nederlands' },
                { value: 'sv', label: 'Svenska', disabled: true },
                { value: 'no', label: 'Norsk', disabled: true },
                { value: 'is', label: 'Íslenska', disabled: true },
                { value: 'ca', label: 'Català' },
                { value: 'ki', label: 'Gĩkũyũ' },
                { value: 'se', label: 'Davvisámegiella' },
                { value: 'av', label: 'авар мацӀ' },
              ],
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Error' do %>
          <%= react_component 'SelectWithState', props: {
              id: 'error-select',
              options: [
                { value: 'de', label: 'Deutsch' },
                { value: 'en', label: 'English' },
                { value: 'es', label: 'Español' },
              ],
              error: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'With sub-levels' do %>
          <%= react_component 'SelectWithState', props: {
              placeholder: 'Select…',
              options: [
                { label: 'Genus Catopuma',
                  children: [
                    { label: 'Catopuma Temminckii' },
                    { label: 'Catopuma badia' },
                  ],
                },
                { label: 'Genus Otocolobus',
                  children: [
                    { label: 'Manul' },
                  ],
                },
                { label: 'Genus Profelis', children: [] },
                { label: 'Genus Felis',
                  children: [
                    { label: 'Feles silvestris' },
                    { label: 'Margarita' },
                    { label: 'Chaus' },
                    { label: 'Feles nigripes', disabled: true },
                    { label: 'Feles Bieti' },
                  ],
                },
                { label: 'Genus Disablus', children: [], disabled: true },
              ],
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'With label' do %>
          <%= react_component 'SelectWithState', props: {
              labelText: 'Please select a language:',
              id: 'select-with-label',
              options: [
                { value: 'de', label: 'Deutsch' },
                { value: 'en', label: 'English' },
                { value: 'es', label: 'Español' },
              ],
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
