<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-1",
          } %>

          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-2",
              isChecked: true,
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
        <%= example 'Big label' do %>
          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-5",
              big: true,
          } %>

          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-6",
              isChecked: true,
              big: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Disabled' do %>
          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-3",
              disabled: true,
          } %>

          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-4",
              isChecked: true,
              disabled: true,
          } %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Disabled big label' do %>
          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-7",
              disabled: true,
              big: true,
          } %>

          <%= react_component 'Switch', props: {
              label: "label",
              id: "switch-input-8",
              isChecked: true,
              disabled: true,
              big: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
