<%= example "Text input - Default" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: '€',
  }) %>
<% end %>

<%= example "Text input - With custom size unit" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: 'jours',
  }) %>
<% end %>

<%= example "Text input with unit - Tiny" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: '€',
    tiny: true,
  }) %>
<% end %>

<%= example "Text input with unit - Valid" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: '$',
    valid: true,
  }) %>
<% end %>

<%= example "Text input with unit - Error" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: '£',
    error: true,
  }) %>
<% end %>

<%= example "Text input with unit - Disabled" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    disabled: true,
    unit: '€',
  }) %>
<% end %>

<%= example "Text input with unit with info - Error" do %>
  <%= react_component('TextInputWithUnit', props: {
    placeholder: 'Lorem ipsum dolor sit amet',
    unit: '€',
    error: true,
  }) %>
  <p class="k-TextInputWithInfo__error">Cum sociis natoque penatibus et magnis</p>
<% end %>
