<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component 'TextInputWithButton', props: {
              placeholder: 'Lorem ipsum dolor sit amet …',
              tiny: true,
            }
          %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Normal' do %>
          <%= react_component 'TextInputWithButton', props: {
              placeholder: 'Lorem ipsum dolor sit amet …',
            }
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Valid' do %>
          <%= react_component 'TextInputWithButton', props: {
              placeholder: 'Lorem ipsum dolor sit amet …',
              valid: true,
            }
          %>
        <% end %>
      </div>

      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--12@l">
        <%= example 'Error' do %>
          <%= react_component 'TextInputWithButton', props: {
              placeholder: 'Lorem ipsum dolor sit amet …',
              error: true,
            }
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
