<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'List of links' do %>
      <%= react_component 'KarlLinkList' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'List of links with a selected item' do %>
      <%= react_component 'KarlLinkListSelectedItem' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'List of links with dark background' do %>
      <%= react_component 'KarlLinkListDarkBackground' %>
    <% end %>
  </div>
</div>
