<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m">
    <%= example 'List of links' do %>
      <%= react_component 'KarlLinkList' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m">
    <%= example 'List of links with a selected item' do %>
      <%= react_component 'KarlLinkListSelectedItem' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m">
    <%= example 'List of links with dark' do %>
      <%= react_component 'KarlLinkListDark' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m">
    <%= example 'List of links with items light' do %>
      <%= react_component 'KarlLinkListItemsLight' %>
    <% end %>
  </div>
</div>
