<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Normal' do %>
      <%= react_component 'HorizontalStroke' %>
    <% end %>

    <%= example 'Tiny' do %>
      <%= react_component 'HorizontalStroke', props: { size: 'tiny' } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Medium' do %>
      <%= react_component 'HorizontalStroke', props: { size: 'medium' } %>
    <% end %>

    <%= example 'Big' do %>
      <%= react_component 'HorizontalStroke', props: { size: 'big' } %>
    <% end %>
  </div>
</div>
