<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Default' do %>
      <%= react_component 'KarlHorizontalStroke' %>
    <% end %>

    <%= example 'Tiny' do %>
      <%= react_component 'KarlTinyHorizontalStroke' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Big' do %>
      <%= react_component 'KarlBigHorizontalStroke' %>
    <% end %>

    <%= example 'Huge' do %>
      <%= react_component 'KarlHugeHorizontalStroke' %>
    <% end %>
  </div>
</div>
