<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Normal' do %>
      <%= react_component 'StrokeSmall' %>
    <% end %>

    <%= example 'Tiny' do %>
      <%= react_component 'StrokeSmall', props: { tiny: true } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Medium' do %>
      <%= react_component 'StrokeSmall', props: { medium: true } %>
    <% end %>

    <%= example 'Big' do %>
      <%= react_component 'StrokeSmall', props: { big: true } %>
    <% end %>
  </div>
</div>
