<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Default' do %>
      <%= react_component 'KarlVerticalStroke' %>
    <% end %>

    <%= example 'Tiny' do %>
      <%= react_component 'KarlTinyVerticalStroke' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'Big' do %>
      <%= react_component 'KarlBigVerticalStroke' %>
    <% end %>

    <%= example 'Huge' do %>
      <%= react_component 'KarlHugeVerticalStroke' %>
    <% end %>
  </div>
</div>
