<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Header' do %>
      <%= react_component 'KarlHeader' %>
      <p>
        <a data-toggle-element="#header"
           data-toggle-class="is-fixed"
           href="#">Toggle fixed version</a>
      </p>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Header with search input' do %>
      <%= react_component 'KarlHeaderWithSearchInput' %>
      <p>
        <a data-toggle-element="#header-search"
           data-toggle-class="is-fixed"
           href="#">Toggle fixed version</a>
      </p>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Header when logged' do %>
      <%= react_component 'KarlHeaderWhenLogged' %>
      <p>
        <a data-toggle-element="#header-logged"
           data-toggle-class="is-fixed"
           href="#">Toggle fixed version</a>
      </p>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Header with titles' do %>
      <%= react_component 'KarlHeaderWithTitles' %>
      <p>
        <a data-toggle-element="#header-with-titles"
           data-toggle-class="is-fixed"
           href="#">Toggle fixed version</a>
      </p>
    <% end %>
  </div>
</div>
