<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Icons' do %>
      <%= react_component 'ArrowIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'CbIcon' %>
      <%= react_component 'CheckedCircleIcon', props: {
        width: '20px',
      } %>
      <%= react_component 'CheckedIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'ClockCircleIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'ClockIcon' %>
      <%= react_component 'CrossCircleIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'CrossIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'FacebookIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'HeartIcon', props: {
        width: '15px',
      }%>
      <%= react_component 'InfoIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'InformationIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'KissKissBankBankLogoIcon' %>
      <%= react_component 'LinkedinIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'LocationIcon' %>
      <%= react_component 'LockIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'MasterCardIcon' %>
      <%= react_component 'MenuIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'RightArrowIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'TagIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'TooltipIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'TwitterIcon', props: {
        width: '15px',
      } %>
      <%= react_component 'VisaIcon' %>
      <%= react_component 'WarningCircleIcon', props: {
        width: '15px',
      } %>
    <% end %>
  </div>
</div>
