<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Icons' do %>
      <%= react_component 'FacebookIcon', props: {
        width: '15',
      } %>
      <%= react_component 'LinkedinIcon', props: {
        width: '15',
      } %>
      <%= react_component 'TwitterIcon', props: {
        width: '15',
      } %>
      <%= react_component 'CbIcon', props: {
        width: '36',
      } %>
      <%= react_component 'MasterCardIcon', props: {
        width: '36',
      } %>
      <%= react_component 'VisaIcon', props: {
        width: '36',
      } %>
      <%= react_component 'ArrowIcon', props: {
        width: '15',
      } %>
      <%= react_component 'CheckedIcon', props: {
        width: '15',
      } %>
      <%= react_component 'ClockIcon', props: {
        width: '10',
        height: '10',
      } %>
      <%= react_component 'LockIcon', props: {
        width: '15',
      } %>
      <%= react_component 'GrabberIcon', props: {
          width: '15',
      } %>
      <%= react_component 'HeartIcon', props: {
        width: '15',
      }%>
      <%= react_component 'CrossIcon', props: {
        width: '15',
      } %>
      <%= react_component 'MenuIcon', props: {
        width: '15',
      } %>
      <%= react_component 'LocationIcon', props: {
        width: '10',
        height: '16',
      } %>
      <%= react_component 'QuestionMarkIcon', props: {
        width: '15',
      } %>
      <%= react_component 'TypologyTagIcon', props: {
        width: '15',
      } %>
      <%= react_component 'InstrumentTagIcon', props: {
        width: '15',
      } %>
      <%= react_component 'SearchIcon', props: {
        width: '14',
        height: '14',
      } %>
    <% end %>
  </div>
</div>

<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
    <div class="karl-Icons karl-Icons--tiny">
      <div class="karl-Icons__card">
        <%= example 'Link box' do %>
          <%= react_component 'LinkBoxIllustration' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
