<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Facebook' do %>
              <%= react_component 'FacebookIcon', props: {
                width: '18',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Linkedin' do %>
              <%= react_component 'LinkedinIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Twitter' do %>
              <%= react_component 'TwitterIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Cb' do %>
              <%= react_component 'CbIcon', props: {
                width: '45',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'MasterCard' do %>
              <%= react_component 'MasterCardIcon', props: {
                width: '45',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Visa' do %>
              <%= react_component 'VisaIcon', props: {
                width: '45',
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Arrow' do %>
              <%= react_component 'ArrowIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Check' do %>
              <%= react_component 'CheckedIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Clock' do %>
              <%= react_component 'ClockIcon', props: {
                width: '20',
                height: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Lock' do %>
              <%= react_component 'LockIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Grabber' do %>
              <%= react_component 'GrabberIcon', props: {
                  width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Heart' do %>
              <%= react_component 'HeartIcon', props: {
                width: '20',
              }%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Cross' do %>
              <%= react_component 'CrossIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Menu' do %>
              <%= react_component 'MenuIcon', props: {
                width: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Location' do %>
              <%= react_component 'LocationIcon', props: {
                width: '18',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'QuestionMark' do %>
              <%= react_component 'QuestionMarkIcon', props: {
                width: '15',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'TypologyTag' do %>
              <%= react_component 'TypologyTagIcon', props: {
                width: '22',
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'InstrumentTag' do %>
              <%= react_component 'InstrumentTagIcon', props: {
                width: '18',
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l k-Grid__col--3@m">
        <div class="karl-Icons">
          <div class="karl-Icons__card">
            <%= example 'Search' do %>
              <%= react_component 'SearchIcon', props: {
                width: '20',
                height: '20',
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
