<div class="karl-Example__column">
  <%= example "Default button" do %>
    <button class="k-Button k-Button--default">
      Button
    </button>
  <% end %>

  <%= example "Primary button" do %>
    <button class="k-Button k-Button--primary">
      Button
    </button>
  <% end %>

  <%= example "Secondary button" do %>
    <button class="k-Button k-Button--secondary">
      Button
    </button>
  <% end %>

  <%= example "Secondary button on white background" do %>
    <button class="k-Button k-Button--secondaryOnWhite">
      Button
    </button>
  <% end %>

  <%= example "Disabled button" do %>
    <button class="k-Button k-Button--default" disabled>
      Button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Big button" do %>
    <button class="k-Button k-Button--default k-Button--big">
      Big button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Button with many words" do %>
    <button class="k-Button k-Button--default">
      Button with many words
    </button>
  <% end %>

  <%= example "Big button with many words" do %>
    <button class="k-Button k-Button--default k-Button--big">
      Big button with many words
    </button>
  <% end %>
</div>
