<div class="karl-Example__column">
  <%= example "Button" do %>
    <button class="k-Button">
      Button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Primary button" do %>
    <button class="k-Button k-Button--primary">
      Button
    </button>
  <% end %>
</div>

<div class="karl-Example__column">
  <%= example "Button with many words" do %>
    <button class="k-Button">
      Button with many words
    </button>
  <% end %>

  <%= example "Big button" do %>
    <button class="k-Button k-Button--big">
      Big button
    </button>
  <% end %>

  <%= example "Big button" do %>
    <button class="k-Button k-Button--big">
      Big button with many words
    </button>
  <% end %>

  <%= example "Disabled button" do %>
    <button class="k-Button" disabled>
      Button
    </button>
  <% end %>
</div>
