<div class="k-Button--column">
  <%= example "button - default" do %>
    <button class="k-Button">
      Button
    </button>
  <% end %>

  <%= example "button light - Focus" do %>
    <button class="k-Button k-Button--focus">
      Button
    </button>
  <% end %>

  <%= example "button light - Hover" do %>
    <button class="k-Button k-Button--hover">
      Button
    </button>
  <% end %>

  <%= example "button light - Press" do %>
    <button class="k-Button k-Button--active">
      Button
    </button>
  <% end %>
</div>

<div class="k-Button--column">
  <%= example "button light - default" do %>
    <button class="k-Button k-Button--light">
      Button
    </button>
  <% end %>

  <%= example "button light - Focus" do %>
    <button class="k-Button k-Button--light k-Button--light--focus">
      Button
    </button>
  <% end %>

  <%= example "button light - Hover" do %>
    <button class="k-Button k-Button--light k-Button--light--hover">
      Button
    </button>
  <% end %>

  <%= example "button light - Press" do %>
    <button class="k-Button k-Button--light--active k-Button--light">
      Button
    </button>
  <% end %>
</div>

<div class="k-Button--column">
  <%= example "button with many words" do %>
    <button class="k-Button k-Button--light">
      Button with many words
    </button>
  <% end %>

  <%= example "big button" do %>
    <button class="k-Button k-Button--light k-Button--big">
      Big button
    </button>
  <% end %>

  <%= example "big button" do %>
    <button class="k-Button k-Button--light k-Button--big">
      Big button with many words
    </button>
  <% end %>

  <%= example "button - Inactive" do %>
    <button class="k-Button" disabled="">
      Button
    </button>
  <% end %>
</div>
