<% fonts = [
  [
    {
      weight: 400,
      description: 'SourceSansPro-Regular',
    },
    {
      weight: 600,
      description: 'SourceSansPro-SemiBold',
    },
    {
      weight: 300,
      description: 'SourceSansPro-Light',
    },
  ]
] %>

<%= example do %>
  <div class="karl-Fonts">
    <% fonts.each do |type_font| %>
      <div class="karl-CardGrid">
        <% type_font.each do |font| %>
          <div class="karl-Fonts__card karl-Card">
            <div class="karl-Fonts__cardDescription">
              <p class="karl-Fonts__cardTitle" style="font-weight: <%= font[:weight] %>">Aa Zz</p>
              <p class="karl-Fonts__cardParagraph k-ParagraphXs"><%= font[:description] %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>



<%= example 'Titre 1' do %>
  <h1 class="k-TitleH1">Libérons la créativité</h1>
  <p class="k-ParagraphXl">Source Sans Pro / Light / 74px / Line Height 84 / Margin bottom 28px</p>
<% end %>

<%= example 'Titre 2' do %>
  <h2 class="k-TitleH2">Typewriter delectus cred</h2>
  <p class="k-ParagraphXl">Source sans Pro / SemiBold / 48px / Line Height 56 / Margin Bottom 28px</p>
<% end %>

<%= example 'Titre 3' do %>
  <h3 class="k-TitleH3">Truffaut disrupt sartorial deserunt</h3>
  <p class="k-ParagraphXl">Source sans Pro / SemiBold / 31px / Line Height 56 / Margin Bottom 28px</p>
<% end %>

<%= example 'Titre 4' do %>
  <h4 class="k-TitleH4">Fingerstache nesciunt lomo nostrud hoodie</h4>
  <p class="k-ParagraphXl">Source sans Pro / SemiBold / 20px / Line Height 28 / Margin Bottom 28px</p>
<% end %>

<%= example 'Paragraphe' do %>
  <p class="k-ParagraphXl">Bushwick Schlitz. Est Shoreditch small batch, dolor Schlitz sapiente twee stumptown ex. Duis Carles pickled, cornhole Thundercats McSweeney's minim PBR vegan Tumblr irony. Kogi eu Thundercats, sed scenester before they sold out et aesthetic. Elit cred Vice ethical pickled sartorial. Stumptown roof party freegan High Life vero, ea sed minim meggings.</p>
  <p class="k-ParagraphXl">Source sans Pro / Regular / 20px / Line Height 32 / Margin Bottom 28px</p>
<% end %>
